:root {
    --canvasHeight: 5000px;
    --canvasWidth: 5000px;
    --cardWidth: 200px;

    --noplacepadding: 100px;

    --cardtemplate: url(/images/overexposure/card-template.svg);
}

.create-card {
    aspect-ratio: var(--cardRatio);
    width: 100px;
    position: absolute;
    background-image: var(--cardtemplate);
    background-position: center;
    background-repeat: no-repeat;
    z-index: 300;
    transition: width 1s linear;
    pointer-events: none;
}

.create-card.grow {
    width: 200px;
}

img {
    pointer-events: none;
    user-select: none;
}

highlight {
    color: var(--backgroundcolour);
    background-color: var(--primarypagecolour);
    padding: 0 10px 0 10px;
    border-radius: 25px;
}

.safe-zone {
    height: 575px;
    width: 1100px;
    position: absolute;
    top: 47.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.no-place {
    width: calc(var(--cardWidth) * 1.5);
    aspect-ratio: var(--cardRatio);
    position: absolute;
    z-index:1;
}

.floating-container {
    position: absolute;
    width: var(--canvasWidth);
    height: var(--canvasHeight);
    box-shadow: 0px 5px 10px var(--warningcolour);
    outline: 2px solid var(--warningcolour);

    display: flex;
    flex-direction: column;
    /* Stack elements vertically */
    justify-content: center;
    /* Centers content vertically */
    align-items: center;
    /* Centers content horizontally */

    text-align: center;
    font-size: 20px;
    font-family: LemonMilk;
    color: var(--primarypagecolour);
    user-select: none;
}

.warning-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55vh;
    height: auto;
    padding: 2%;
    background-color: #101010;
    border: var(--bordersize) solid #101010;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    text-align: center;
    font-family: LemonMilk;
    border-radius: 25px;
    max-width: 60vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--warningcolour);
    display: none;
}

.warning-container.active {
    display: flex;
}

.warning-container h2 {
    font-size: 20px;
}

.warning-container p {
    font-size: 20px;
}

.warning-container button {
    background-color: #101010;
    color: var(--warningcolour);
    border: 4px solid var(--warningcolour);
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 100%;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-family: LemonMilk;
    width: 25%;
}

.warning-container button:hover {
    background-color: var(--warningcolour);
    color: #202020;
    border-color: var(--warningcolour);
}

.warning-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.floating-container p {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 10px;
    display: none;
}

.floating-container p.active {
    display: block;
}

.floating-container h2 {
    font-size: 35px;
    margin-bottom: 10px;
}


.floating-button {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: transform 0.2s;
}
.floating-button.disabled {
    cursor: not-allowed;
    pointer-events: none;
}

.floating-button.touchhover img {
    transform: scale(1.1)
}

.floating-button img {
    width: var(--cardWidth);
    opacity: 0.9;
    transition: transform 0.2s, opacity 0.2s;
}

.floating-button:hover img {
    transform: scale(1.1);
    opacity: 1;
}

.button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    width: 80%;
    /* Adjust as needed */
    color: var(--primarypagecolour);
    font-size: 16px;
    pointer-events: none;
    transition: transform 0.2s;
    /* Smooth transition for text */
    font-family: LemonMilk;
    user-select: none;
}

.floating-button:hover .button-text {
    transform: translate(-50%, -55%) scale(1.1);
    /* Scale the text when hovered */
}

/* Add a higher z-index on hover to bring the hovered button above others */
.floating-button:hover {
    z-index: 10;
    /* This brings the hovered button to the front */
}

.overexposure-container {
    display: none;
    height: calc(var(--vh, 1vh) * 100 - var(--headerheight));
    margin-top: calc(var(--headerheight) + 5vh);
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin-bottom: 0;
    position: fixed;
    top: 0;
    /* Set this to control its vertical position */
    z-index: 1001;
    pointer-events: none;
}

.overexposure-container.active {
    display: flex;
}

.overexposure-publish-button {
    background-color: var(--backgroundcolour);
    color: var(--primarypagecolour);
    border: 4px solid var(--primarypagecolour);
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 100%;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    font-family: LemonMilk;
    width: 25%;
    min-width:100px;
    text-align: center;
    font-size: 10px;

    margin: 2.5vh auto;
    
}

.overexposure-publish-button:hover {
    background-color: var(--primarypagecolour);
    color: var(--backgroundcolour);
    border-color: var(--primarypagecolour);
}

button:disabled {
    background-color: var(--backgroundcolour);
    border-color: var(--backgroundcolour);
    color: #999999;
    pointer-events: none;
}

.title-text-editor {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: none;
}

.title-text-editor.active {
    display: flex;
}

.contents-text-editor {
    width: 100%;
    display: none;
    margin: 0;
    height: 100%;
    flex-direction: column;
}

#char-counter {
    font-size: 14px;
    color: gray;
    position: absolute;
    bottom: 35px; /* Adjust based on button position */
    right: 10px;
    pointer-events: none; /* Prevent interaction */
    padding: 0 10px 6.5vh 0 ;
    font-family: LemonMilk;
}

.contents-text-editor.active {
    display: flex;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 0px;
    border-radius: 5px;
    background-color: var(--backgroundcolour);
    color: var(--primarypagecolour);
    font-family: LemonMilk;
}

input:focus,
textarea:focus {
    outline: none;
}

input {
    width: 90%;
    text-align: center;
    font-size: 20px;
}

textarea {
    width: auto;
    height: 100%;
    resize: none;
    padding: 5%;
    overflow-y: scroll;
}

.container,
.title-container {
    width: 40vw;
    min-width: 640px;

    display: flex;
    flex-direction: column;
    z-index: 1002;
    pointer-events: all;
}

.title-container {
    position: relative;
    height: auto;
    margin-top: 0;
    margin-bottom: 2.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--backgroundcolour);
    border: var(--bordersize) solid var(--backgroundcolour);
    border-radius: 50px;
}

.container {
    position: relative;
    height: 80%;
    background-color: var(--backgroundcolour);
}

.title-text {
    margin: 0;
    text-align: center;
    font-family: LemonMilk;
    color: var(--primarypagecolour);
    font-size: 20px;
    flex: 1;
    padding: 1vh 0;
    display: none;
}

.title-text.active {
    display: flex;
}

.contents-container {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.contents-container h2 {
    width: 100%;
    height: auto;
    margin: 1vh auto;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-family: Helvetica;
    color: var(--primarypagecolour);
    font-size: 40px;
}

.contents-container h3 {
    width: 100%;
    height: auto;
    margin: 1vh auto;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-family: Helvetica;
    color: var(--primarypagecolour);
    font-size: 150%;
}

.contents-container-text{
    font-size: 15px;
    padding: 5%;
    display: none;
    white-space: pre-line;
    width: auto;
    margin: 0 auto;
    justify-content: left;
    align-items: left;
    text-align: left;
    font-family: LemonMilk;
    color: var(--primarypagecolour);
    overflow-y: scroll;
}

.contents-container-text.active {
    display: flex;
    height: 90%;
}

.contents-container-text a {
    color: var(--primarypagecolour);
}

.contents-container-text a:hover {
    color: var(--primarypagecolour);
}

@media (orientation: portrait) {

    .container,
    .title-container {
        width: 85vw;
        min-width: auto;
    }

    .container {
        height: 75%;
    }
    .contents-container-text{
        font-size: 13px;
    }
    .warning-container button {
        border: 4px solid var(--warningcolour);
        padding: 5px 10px;
        font-size: 10px;
        min-width: 60px;
    }
    .floating-container p {
        font-size: 12.5px;
        line-height: 1.7;
        margin-bottom: 10px;
    }
    
    .floating-container h2 {
        font-size: 22px;
        line-height: 1.7;
        margin-bottom: 0px;
    } 
}