@font-face {
    src: url('/fonts/LemonMilk/LEMONMILK-Medium.otf');
    font-family: LemonMilk;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: LemonMilk;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    height: calc(var(--vh, 1vh) * 100);
}

.content {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    left: 50vw;
    bottom: 50vh;
    box-sizing: border-box;
    transform: translateY(3.5vh);
    max-width: 60vw;
}

.gamemode-text {
    font-size: 43px;
    font-weight: bold;
    color: var(--primarypagecolour);
    text-align: center;
    padding-bottom: 5px;
}
.gamemode-text-svg{
    width:100%;
}
.gamemode-text-container {
    width:100%;
    margin-bottom: 10px;
}

.main-image-container {
    position: relative;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-image {
    width:100%;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 225%;
    color: var(--primarypagecolour);
    text-align: center;
    box-sizing: border-box;
}

.card-type-text {
    position: absolute;
    bottom: 15px;
    right: 7.5%;
    font-size: 70%;
    color: var(--primarypagecolour);
    font-family: LemonMilk;
    text-align: right;
}

.question-text {
    font-size: 40%;
    margin-bottom: 3.5%;
    padding: 0 7.5%;
}

.punishment-text {
    font-size: 35%;
    color: #ff5f5f;
}

.back-button {
    position: absolute;
    top: calc(var(--headerheight) + 5vh);
    left: 20px;
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: var(--backgroundcolour);
    border: var(--bordersize) solid var(--backgroundcolour);
    color: var(--primarypagecolour);
    font-size: 1.5vh;
    padding: 5px 10px;
    border-radius: 50px;
    margin: 0 10px;
    width: 10vh;
    font-family: LemonMilk;
    z-index: 600;
    transition: background-color 0.3s, color 0.3s;
}

.back-button:hover {
    background-color: var(--primarypagecolour);
    color: var(--backgroundcolour);
    border-color: var(--primarypagecolour);
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    width: 100%;
    box-sizing: border-box;
}

.button-container button {
    font-family: LemonMilk;
    background-color: var(--backgroundcolour);
    color: var(--primarypagecolour);
    flex: 1 1 auto;
    cursor: pointer;
    width: 100%;
    background-color: var(--backgroundcolour);
    border: var(--bordersize) solid var(--primarypagecolour);
    font-size: 100%;
    padding: 3% 5%;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    font-family: LemonMilk;
    transition: background-color 0.3s, color 0.3s;
}

.button-container button:hover {
    background-color: var(--primarypagecolour);
    color: var(--backgroundcolour);
}

.side-buttons {
    height: auto;
    width: auto;
    right: 0.5%;
    bottom: 50%;
    flex-direction: column;
    align-items: center;
    transform: translateY(50%);
    position: fixed;
    display: flex;
    gap: 5px;
}
.side-buttons.single{
    height: auto;
    width: auto;
    right: 1.5%;
    bottom: 5%;
    position: fixed;
    display: flex;
    gap: 5px;
}
.side-button,.tts-button {
    cursor: pointer;
    width: 7.5vh;
    height: 7.5vh;
    z-index: 100;
    padding: 0.5vh;
    transition: width 0.3s, height 0.3s, padding 0.3s;
}
.side-button.active,.tts-button.active {
    width: 8.5vh;
    height: 8.5vh;
    padding: 0;
}
.tts-button:hover,.side-button:hover {
    width: 8.5vh;
    height: 8.5vh;
    padding: 0;
}
.side-button.disabled {
    color: #6e6e6e;
    cursor: not-allowed;
    opacity: 0.6;
}


@media (orientation: portrait) {
    .side-buttons {
        right: 1%;
    }
    .text-container {
        font-size:170%;

    }

    .question-text {
        font-size: 50%;
    }

    .punishment-text {
        font-size: 25%;
    }

    .card-type-text {
        bottom: 3%;
        right: 7.5%;
        font-size: 60%;
    }
    .button-container button {
        border:  var(--bordersize) solid var(--primarypagecolour);
        font-size: 100%;
    }
    .button-container button:hover {
        background-color: var(--backgroundcolour);
        color:  var(--primarypagecolour);
    }
    .back-button {
        top: calc(var(--headerheight) + 20px);
    }
}