@font-face {
    src: url('/fonts/LemonMilk/LEMONMILK-Medium.otf');
    font-family: LemonMilk;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: LemonMilk;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    box-sizing: border-box;
    height: calc(var(--vh, 1vh) * 100 - var(--headerheight));
    /* Subtracts header height */
    margin-top: var(--headerheight);
    /* Pushes it down */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: auto;
    width: auto;
    /* Content width will adjust based on main image width */
    max-height: auto;
}

.gamemode-text-container,
.main-image-container,
.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5vh 0;
}

.main-image-container {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.main-image {
    width: 100%;
    /* Set a fixed width or use a percentage */
    height: auto;
}


.text-container {
    position: absolute;
    bottom: 10px;
    color: var(--primarypagecolour);
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    font-family: LemonMilk;
}

.card-type-text {
    position: absolute;
    bottom: 2.5%;
    /* Slight offset from the bottom */
    right: 5%;
    /* Slight offset from the right */
    font-size: 0.75rem;
    color: var(--primarypagecolour);
    font-family: LemonMilk;
    text-align: right;
    padding: 5px 10px;
    border-radius: 5px;
}

.question-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #ff5722;
    color: white;
    transition: background 0.3s ease;
}

.question-button:hover {
    background-color: #e64a19;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 225%;
    color: var(--primarypagecolour);
    text-align: center;
    box-sizing: border-box;
}



.question-text {
    font-size: 40%;
    margin-bottom: 3.5%;
    padding: 0 7.5%;
}

.punishment-text {
    font-size: 35%;
    color: #ff5f5f;
}


.button-container button {
    font-family: LemonMilk;
    background-color: var(--backgroundcolour);
    color: var(--primarypagecolour);
    flex: 1 1 auto;
    cursor: pointer;
    width: 100%;
    background-color: var(--backgroundcolour);
    border: var(--bordersize) solid var(--primarypagecolour);
    font-size: 100%;
    padding: 3% 5%;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    font-family: LemonMilk;
    transition: background-color 0.3s, color 0.3s;
}

.button-container button:hover {
    background-color: var(--primarypagecolour);
    color: var(--backgroundcolour);
}

.side-buttons {
    height: auto;
    width: auto;
    right: 0.5%;
    bottom: 50%;
    flex-direction: column;
    align-items: center;
    transform: translateY(50%);
    position: fixed;
    display: flex;
    gap: 5px;
}

.side-buttons.single {
    height: auto;
    width: auto;
    right: 1.5%;
    bottom: 5%;
    position: fixed;
    display: flex;
    gap: 5px;
}

.side-button,
.tts-button {
    cursor: pointer;
    width: 7.5vh;
    height: 7.5vh;
    z-index: 100;
    padding: 0.5vh;
    transition: width 0.3s, height 0.3s, padding 0.3s;
}

.side-button.active,
.tts-button.active {
    width: 8.5vh;
    height: 8.5vh;
    padding: 0;
}

.tts-button:hover,
.side-button:hover {
    width: 8.5vh;
    height: 8.5vh;
    padding: 0;
}

.side-button.disabled {
    color: #6e6e6e;
    cursor: not-allowed;
    opacity: 0.6;
}

.question-zoomed-container {
    background-color: var(--secondarybackgroundcolour);
    width: 350px;
    max-width: 75vw;
    border-radius: 50px;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    /* Center horizontally as well */
    transform: translate(-50%, -50%);
    /* Center both vertically and horizontally */
    z-index: 900;
    display: none;
    aspect-ratio: 9/16;
    border: var(--bordersize) solid var(--primarypagecolour);
}

.question-zoomed-container.active {
    display: block;
}

.question-zoomed-container h2 {
    margin-top: 65%;
    text-align: center;
    color: var(--primarypagecolour);
    padding: 5%;
}

.question-zoomed-container h3 {
    text-align: center;
    color: #ff5f5f;
    padding: 5%;
}

@media (orientation: portrait) {

    .gamemode-text-container,
    .main-image-container,
    .button-container {
        width: 300px;
        max-width: 60vw;
    }
    .gamemode-text-svg {
        width: 100%; /* Make the image take up 100% of the container's width */
        height: auto; /* Maintain the aspect ratio */
    }

    .text-container {
        font-size: 225%;
        width: 90%;
    }

    .side-buttons {
        width: auto;
        height: auto;
        right: 2%;
    }

    .side-button,
    .tts-button {
        width: 6vh;
        height: 6vh;
    }

}