* {
    user-select: none;
}

html,
body {
    overflow: hidden;
}

/* Buttons */
button,
.button {
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

button.disabled {
    background-color: #333333 !important;
    color: #666666 !important;
    border-color: #333333 !important;
    cursor: not-allowed !important;
    pointer-events: none !important;
}

/* Home Button */
.home-button {
    position: absolute;
    top: calc(var(--headerheight) + 20px);
    left: 5px;
    font-size: 1.5vh;
    padding: 5px 10px;
    width: 10vh;
    border: var(--bordersize) solid var(--secondarybackgroundcolour);
    border-radius: 50px;
    background-color: var(--secondarybackgroundcolour);
    color: var(--primarypagecolour);
    text-align: center;
    z-index: 600;
}

.main-container {
    position: fixed;
    width: 100vw;
    top: var(--headerheight);
    height: calc(var(--vh, 1vh) * 100 - var(--headerheight));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

/* Main Containers */
.main-settings-container {
    width: auto;
    height: 70vh;
    position: fixed;
}

.packs-container,
.settings-container,
.online-game-settings-container {
    display: none;
    flex-direction: column;
    border-radius: 10px;
    width: 90vw;
    max-width: 1280px;
    height: 100%;
    background-color: var(--secondarybackgroundcolour);
    position: relative;
}

.packs-container.active,
.settings-container.active,
.online-game-settings-container.active {
    display: flex;
    margin: 0 auto;
    padding: 0;
}

/* Headers */
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin: 15px 0;
    width: 100%;
}

.header-container h2 {
    font-size: 32px;
    color: var(--primarypagecolour);
    text-align: center;
    line-height: 1;
    margin: 0;
}

/* Content Containers */
.packs-content-container,
.game-settings-container,
.online-settings-container {
    height: 60vh;
    padding: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.online-settings-container {
    flex-direction: column;
}

/* Game Settings Tabs */
.game-settings-tab-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.game-settings-tab-container button {
    padding: 5px 20px;
    background-color: var(--secondarybackgroundcolour);
    color: #999999;
    border: none;
    border-radius: 10px 10px 0 0;
}

.game-settings-tab-container button.active {
    background-color: var(--primarypagecolour);
    color: var(--secondarybackgroundcolour);
}

/* Button Containers */
.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 5px;
    justify-content: center;
    width: 100%;
    height: auto;
    overflow-y: auto;
}

.button-container button {
    font-size: 16px;
    padding: 10px 20px;
    min-width: 120px;
    border-radius: 50px;
    text-align: center;
    white-space: nowrap;
}

[data-template="waiting-room"] .button-container button {
    cursor: none;
    pointer-events: none;
}

.button-container button {
    background-color: var(--backgroundcolour);
    border: var(--bordersize) solid var(--backgroundcolour);
    color: #999999;
}

.button-container button.active {
    background-color: var(--primarypagecolour);
    border-color: var(--primarypagecolour);
    color: var(--backgroundcolour);
}

/* Start Game Button */
.start-game-button {
    display: flex;
    justify-content: center;
    font-size: 16px;
    padding: 10px 20px;
    width: 60vw;
    max-width: 300px;
    margin: 1.5vh auto 0;
    background-color: var(--backgroundcolour);
    border: var(--bordersize) solid var(--backgroundcolour);
    border-radius: 50px;
    color: var(--primarypagecolour);
    text-align: center;
    white-space: nowrap;
    box-sizing: border-box;
    text-decoration: none;
}

.start-game-button:active {
    background-color: var(--primarypagecolour);
    color: var(--primarypagecolour);
    border-color: var(--primarypagecolour);
}

/* Generic Container */
.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.container-section {
    position: relative;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    color: var(--primarypagecolour);
    justify-content: left;
    align-items: flex-start;
    margin: 0;
    padding: 1vh 10%;
    gap: 15px 5px;
}


.container-section input {
    width: 100%;
    font-size: 16px;
    color: var(--primarypagecolour);
    background-color: var(--backgroundcolour);
    border: none;
    outline: none;
    box-shadow: none;
    user-select: text;
    pointer-events: auto;
}

/* Misc */
.user-count {
    color: var(--primarypagecolour);
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    pointer-events: auto;
    gap: 2.5%;
}

.element:hover {
    background-color: initial;
    color: initial;
    border-color: initial;
}

@media (orientation: landscape) {
    [data-template]:not([data-template="waiting-room"]) .button-container button:not(.disabled):hover {
        background-color: var(--secondarypagecolour);
        border-color: var(--secondarypagecolour);
        color: #999999;
    }

    [data-template]:not([data-template="waiting-room"]) .button-container.gamemode-settings button.active:not(.disabled):hover {
        background-color: var(--secondarypagecolour);
        border-color: var(--secondarypagecolour);
        color: var(--backgroundcolour);
    }

    .start-game-button:hover {
        background-color: var(--primarypagecolour);
        color: var(--secondarybackgroundcolour);
        border-color: var(--primarypagecolour);
    }
}

@media (orientation: portrait) {

    .header-container h2 {
        font-size: 24px;
    }

    .packs-container,
    .settings-container,
    .online-game-settings-container {
        width: 90vw;
        max-width: 1280px;
        height: 60vh;
    }

    .game-settings-tab-container {
        width: 90vw;
    }

    .button-container {
        margin: 0 auto;
        display: block;
        width: 100%;
        height: 100%;
        scroll-snap-type: y mandatory;
    }

    .button-container button {
        width: 90%;
        margin: 5px 5%;
        font-size: 16px;
        scroll-snap-align: start;
        box-sizing: border-box;
    }

    .container-section .user-icon {
        font-size: 1vh;
    }

    .start-game-button {
        position: fixed;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .main-container {
        top: 10vh;
    }
}