* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: LemonMilk;
    overflow-y: hidden;
}

@font-face {
    src: url('/fonts/LemonMilk/LEMONMILK-Medium.otf');
    font-family: LemonMilk;
}

.home-button {
    position: absolute;
    top: calc(var(--headerheight) + 5vh);
    left: 20px;
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: var(--secondarybackgroundcolour);
    border: var(--bordersize) solid var(--secondarybackgroundcolour);
    color: var(--primarypagecolour);
    font-size: 1.5vh;
    padding: 5px 10px;
    border-radius: 50px;
    margin: 0 10px;
    width: 10vh;
    font-family: LemonMilk;
    z-index: 600;
    transition: background-color 0.3s, color 0.3s;
}

.button {
    transition: background-color 0.3s, color 0.3s;
}

.main-container {
    display: flex;
    height: calc(100vh - var(--headerheight));
    margin-top: var(--headerheight);
}

.packs-container,
.settings-container {
    display: flex;
    flex-direction: column;
    width: 65%;
    /* Width of packs-container */
}

.settings-container {
    width: 35%;
    /* Width of settings-container */
}

.separator-container {
    background-color: var(--primarypagecolour);
    border-radius: 50px;
    width: 10px;
    height: 75vh;
    top: 50%;
    transform: translateY(12.5%);
}

.packs-header-container,
.settings-header-container {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    height: auto;
    padding-bottom: 5vh;
    padding-top: 10vh;
}

.packs-header,
.settings-header {
    font-size: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: LemonMilk;
    color: var(--primarypagecolour);
}

.packs-content-container {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.game-settings-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    height:53.5vh;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: left;
    width: 90%;
}

.game-settings-container .button-container {
    justify-content: center;
}

.button-container button {
    padding: 10px 20px;
    font-family: LemonMilk;
    font-size: 2.5vh;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    min-width: 120px;
    white-space: nowrap;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}
.button-container button:not(.start-game-button){
    color: #999999;
    background-color: var(--backgroundcolour);
    border: var(--bordersize) solid var(--backgroundcolour);
}

/*
.button-container button.active {
    background-color: var(--primarypagecolour);
    color: var(--backgroundcolour);
    border-color: var(--primarypagecolour);
}

.button-container button:not(.disabled):hover {
    background-color: var(--secondarypagecolour);
    border-color: var(--secondarypagecolour);
}

.button-container button.active:not(.disabled):hover {
    background-color: var(--secondarypagecolour);
    color: var(--backgroundcolour);
}
*/
button.disabled {
    background-color: #333333;
    color: #666666;
    border-color: #333333;
    cursor: not-allowed;
    pointer-events: none;
}

.start-game-button {
    margin: 0vh auto;
    bottom:12.5vh;
    padding: 10px 20px;
    font-family: LemonMilk;
    font-size: 2.5vh;
    color: var(--primarypagecolour);
    background-color: var(--secondarybackgroundcolour);
    border: var(--bordersize) solid var(--secondarybackgroundcolour);
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    white-space: nowrap;
    display: flex;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    position: absolute;
}

.start-game-button:hover,
.home-button:hover {
    background-color: var(--primarypagecolour);
    color: var(--secondarybackgroundcolour);
    border-color: var(--primarypagecolour);
}

.start-game-button:active {
    background-color: var(--primarypagecolour);
    color: var(--primarypagecolour);
    border-color: var(--primarypagecolour);
}

.start-game-button.disabled {
    background-color: #333333;
    color: #666666;
    border-color: #444444;
    cursor: not-allowed;
    pointer-events: none;
}

.game-settings-button-container {
    display: none;
}

@media (orientation: portrait) {
    .start-game-button {
        position: relative;
        bottom:0;
    }
    .button-container {
        justify-content: center;
        width:100%;
        height: auto;
        overflow-y: auto;
        gap: 15px 5px;
    }
    .game-settings-button-container {
        display: grid;
        grid-auto-flow: column;
        justify-content: left;
        align-items: center;
        width:80%;
        margin: 0 auto;
    }
    .game-settings-button-container button {
        padding: 10px 20px;
        border: none;
        background-color: var(--secondarybackgroundcolour);
        color: #999999;
        cursor: pointer;
        border-radius: 10px 10px 0 0;
        font-family: LemonMilk;
    }
    .game-settings-button-container button.active{
        background-color: var(--primarypagecolour); 
        color: var(--secondarybackgroundcolour);
    }

    .main-container {
        flex-direction: column;
        margin-top: 15vh;
        height: 70vh;
        width: 100vw;
    }

    .separator-container {
        display: none;
    }

    .packs-container,
    .settings-container {
        display:none;
        border-radius: 2.5px;
    }
    .packs-container.active,
    .settings-container.active {
        width: 90%;
        margin: 0 auto;
        padding: 0;
        background-color: var(--secondarybackgroundcolour);
        height: 90%;
        display: flex;
    }
    

    .settings-container {
        height: auto;
        display: none;
    }

    .packs-header-container,
    .settings-header-container {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    .packs-header,
    .settings-header {
        font-size: 30px;
    }

    .button-container button {
        font-size: 4.5vw;
        width:90%;
    }



    .home-button {
        top: calc(var(--headerheight) + 20px);
    }

    .element:hover {
        background-color: initial;
        color: initial;
        border-color: initial;
    }

    .button-container button:not(.disabled):hover {
        background-color: var(--backgroundcolour);
        border-color: var(--backgroundcolour);
        color: #999999;
    }

    .button-container button.active:not(.disabled):hover {
        background-color: var(--primarypagecolour);
        border-color: var(--primarypagecolour);
        color: var(--backgroundcolour);
    }
}