* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

html,
body {
    margin: 0;
    padding: 0;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    box-sizing: border-box;
    height: calc(var(--vh, 1vh) * 100 - var(--headerheight));
    /* Subtracts header height */
    margin-top: var(--headerheight);
    /* Pushes it down */
}

.question-zoomed-container {
    width: 300px;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 900;
    display: none;
    aspect-ratio: var(--cardRatio);
    overflow: hidden;
}

.question-zoomed-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.question-zoomed-container.active {
    display: flex;
}

.question-zoomed-container h2 {
    position: absolute;
    text-align: center;
    color: var(--primarypagecolour);
    padding: 5%;
}

.question-zoomed-container h3 {
    position: absolute;
    text-align: center;
    color: #ff5f5f;
    padding: 5%;
}

.gamemode-popup-container {
    background-color: var(--backgroundcolour);
    height: 350px;
    width: 350px;
    border: var(--bordersize) solid var(--primarypagecolour);
    border-radius: 25px;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 900;
    display: none;
}

.gamemode-popup-container.active {
    display: flex;
}

#chartWrapper {
    position: relative;
}