.main-container {
    position: fixed;
    top: 0;
    width: 100vw;
    margin-top: var(--headerheight);
    height: calc(var(--vh, 1vh) * 100 - var(--headerheight));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.content-container,
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 1vh auto;
    gap: 10px;
}

.user-confirmed-section {
    position: relative;
    width: 100%;
    display: flex;
    color: var(--backgroundcolour);
    justify-content: center;
    align-items: center;
    margin: 0;
}

.user-confirmed-section.icons-overflow {
    flex-wrap: wrap;
}

.user-confirmed-section.icons-overflow .icon {
    flex: 0 0 12.5%;
    box-sizing: border-box;
    justify-content: center;
}

.user-confirmed-section .icon {
    
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    opacity: 0.15;
}

.user-confirmed-section .icon.yes {
    opacity: 1;
}

.user-confirmed-section .icon.no {
    color: var(--warningcolour);
}

.content-container h1,
.content-container h2,
.content-container p {
    
    text-align: center;
    color: var(--primarypagecolour);
}

.content-container h1 {
    font-size: 30px;
}

.content-container h2 {
    font-size: 20px;
}

.content-container p {
    font-size: 15px;
}

.content-container textarea {
    width: 100%;
    height: 35vh;
    background-color: var(--backgroundcolour);
    border: 0;
    outline: none;
    resize: none;
    
    font-size: 16px;
    color: var(--primarypagecolour);
    padding: 2.5%;
}

.main-container button {
    
    padding: 10px 20px;
    min-width: 120px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    box-sizing: border-box;

    outline: none;
    border: none;
    box-shadow: none;

    color: var(--primarypagecolour);
    background-color: var(--backgroundcolour);
    border-color: var(--backgroundcolour);

    transition: background-color 0.3s, color 0.3s;
}

.selected-user-container .button-container button {
    width: 80%;
    font-size: 12px;
    box-sizing: border-box;
}

.button-container button.disabled {
    background-color: #333333 !important;
    color: #666666 !important;
    border-color: #333333 !important;
    cursor: not-allowed !important;
    pointer-events: none !important;
}

.button-container.overflow button {
    width: 48%;
}

.button-container button.active {
    background-color: var(--primarypagecolour);
    color: var(--backgroundcolour);
    border-color: var(--primarypagecolour);
}

.selected-user-container {
    display: none;
    flex-direction: column;
    border: var(--bordersize) solid var(--primarypagecolour);
    border-radius: 25px;
    height: auto;
    max-width: 500px;
    min-width: 300px;
    width:90vw;
    background-color: var(--secondarybackgroundcolour);
    position: relative;
    overflow: hidden;
}
.selected-user-container.active {
    display: flex;
}

.selected-user-container.pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 450;
}

.selected-user-container.small {
    height: 40%;
    aspect-ratio: 4/3;
}

.selected-user-container.very-small.center {
    justify-content: center;
}

.select-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: auto;
    background-color: var(--secondarybackgroundcolour);
    position: relative;
    overflow: hidden;
    pointer-events: auto;
    gap: 2.5%;
    margin: 4vh 0;
}


.select-button {
    
    font-size: 1vw;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    color: var(--primarypagecolour);
    background-color: var(--backgroundcolour);
    cursor: pointer;
    width: 40%;
    box-sizing: border-box;
}

.select-button.disabled {
    background-color: #333333 !important;
    color: #666666 !important;
    border-color: #333333 !important;
    cursor: not-allowed !important;
    pointer-events: none !important;
}

.main-container button:not(.active):hover {
    background-color: var(--secondarypagecolour);
    color: var(--secondarybackgroundcolour);
    border-color: var(--primarypagecolour);
}

.answer-text {
    font-size: 35%;
    color: var(--secondarypagecolour);
}

/* Mobile and potrait windows */
@media (orientation: portrait) {
    .button-container button {
        width: 100%;
        font-size: 1.5vh;
    }

    .regular-button-container button {
        font-size: 100%;
    }

    .select-button {
        font-size: 1.5vh;
    }

    .content-container h1 {
        font-size: 200%;
    }

    .content-container h2 {
        font-size: 5, 5vw;
    }

    .user-confirmed-section .icon {
        font-size: 2vh;
    }
}