.side-buttons {
    height: auto;
    width: auto;
    right: 2.5px;
    bottom: 50%;
    flex-direction: column;
    align-items: right;
    transform: translateY(50%);
    position: fixed;
    display: flex;
    gap: 5px;
    z-index: 300;
}

.side-buttons.single {
    height: auto;
    width: auto;
    bottom: 5%;
    position: fixed;
    display: flex;
    gap: 5px;
}

.side-button,
.tts-button {
    cursor: pointer;
    width: 7.5dvh;
    height: 7.5dvh;
    z-index: 100;
    padding: 0.5dvh;
    transition: width 0.3s, height 0.3s, padding 0.3s;
}

.side-button.active,
.tts-button.active {
    width: 8.5dvh;
    height: 8.5dvh;
    padding: 0;
}

.tts-button:hover,
.side-button:hover {
    width: 8.5dvh;
    height: 8.5dvh;
    padding: 0;
}

.side-button.disabled {
    color: #6e6e6e;
    cursor: not-allowed;
    opacity: 0.6;
}

@media (orientation: portrait) {

    .side-button,
    .tts-button {
        width: 6dvh;
        height: 6dvh;
    }

    .side-button.active,
    .tts-button.active {
        width: 6.5dvh;
        height: 6.5dvh;
    }

    .tts-button:hover,
    .side-button:hover {
        width: 6.5dvh;
        height: 6.5dvh;
    }
}