* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}
:root {
    --primarypagecolour: #66CCFF;
    --bordersize: 5px;
}

.center-label {
    text-align: center;
    width: 100%;
}

@font-face {
    src: url('./fonts/LemonMilk/LEMONMILK-Medium.otf');
    font-family: LemonMilk;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.home-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 80vh;

    max-width: 1600px;
    min-width: 400px;
    gap: 3%;
    margin: auto;

    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid-item {
    perspective: 1600px;
    padding-top: 160%;
    position: relative;
}

.card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.4s ease-in-out;
    cursor: pointer;
    will-change: transform;
    transform-origin: center;
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}

.flipped {
    transform: rotateY(180deg);
}


@media only screen and (max-width: 600px) {
    .home-container {
        grid-template-columns: 1fr;
        width: 100%;
        height: auto;
        min-width: 0;
        margin: 1vh auto;

        top: 0%;
        left: 50%;
        transform: 0;
    }

    .grid-item {
        margin-top: 0;
    }
}

@media (orientation: portrait) {
    .home-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 55%;
        height: auto;
        min-width: 0;
        margin: 1vh auto;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
        padding-bottom:5vh;
        margin-top:10vh;
    }

    .grid-item {
        margin-top: 0;
    }
}