.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 800;
}
.overlay.active{
    display: block;
}
.extra-menu-container
{
    height:100vh;
    width:30vw;
    background-color: var(--backgroundcolour);;
    left: -100%;
    position: fixed;
    transition: left 0.7s ease;
    z-index: 900;
}
.extra-menu-container.active {
    left: 0;
}
.extra-menu-title
{
    background-color: var(--backgroundcolour);
    font-size: 250%;
    text-align: center;
    font-family: LemonMilk;
    color: var(--primarypagecolour);;;
    padding: 5.5vh 0;
    margin: 0; /* Add this line */
}
.extra-menu-button{
    width:100%;
    height:15%;
    background-color: var(--backgroundcolour);
    font-size: 200%;
    font-family: LemonMilk;
    color: var(--primarypagecolour);;
    outline:none;
    border:0;
}
.extra-menu-button:hover{
    background-color: var(--primarypagecolour);;
    color: var(--backgroundcolour);
    font-size: 250%;
}
@media (orientation: portrait) {
    .extra-menu-container{
        width:75vw;
    }
    .extra-menu-title{
        font-size:200%;
    }
    .extra-menu-button{
        font-size:150%;
        height:10%;
    }
}