@font-face {
    src: url('./fonts/LemonMilk/LEMONMILK-Medium.otf');
    font-family: LemonMilk;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: LemonMilk;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    height: calc(var(--vh, 1vh) * 100);
}

.content {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    left: 50vw;
    bottom: 50vh;
    box-sizing: border-box;
    transform: translateY(3.5vh);
}

.gamemode-text {
    font-size: 23px;
    font-weight: bold;
    color: var(--primarypagecolour);
    text-align: center;
    padding-bottom: 5px;
}

.main-image-container {
    position: relative;
    width: auto;
    max-width: 60vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-image {
    height: 45vh;
    min-height: 300px;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 60%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 225%;
    color: var(--primarypagecolour);
    text-align: center;
    box-sizing: border-box;
}

.card-type-text {
    position: absolute;
    bottom: 15px;
    right: 7.5%;
    font-size: 70%;
    color: var(--primarypagecolour);
    font-family: LemonMilk;
    text-align: right;
}

.question-text {
    font-size: 40%;
    margin-bottom: 3.5%;
    padding: 0 2.5%;
}

.punishment-text {
    font-size: 35%;
    color: #ff5f5f;
}

.back-button-container {
    position: fixed;
    top: calc(var(--headerheight) + 5vh);
    left: 1%;
    width:auto;
}

.back-button {
    border: none;
    cursor: pointer;
    background-color: #202020;
    border: var(--bordersize) solid var(--primarypagecolour);
    color: var(--primarypagecolour);
    font-size: 80%;
    padding: 5px 10px;
    border-radius: 50px;
    margin: 0 10px;
    min-width: 80px;
    max-width: 100px;
    width: 15vw;
    font-family: LemonMilk;
    z-index: 600;
    position: relative;
}

.back-button:hover {
    background-color: var(--primarypagecolour);
    color: #202020;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    width: 100%;
    box-sizing: border-box;
}

.button-container button {
    font-family: LemonMilk;
    background-color: #202020;
    color: var(--primarypagecolour);
    flex: 1 1 auto;
    cursor: pointer;
    width: 100%;
    background-color: #202020;
    border: var(--bordersize) solid var(--primarypagecolour);
    font-size: 100%;
    padding: 3% 5%;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    font-family: LemonMilk;
}

.button-container button:hover {
    background-color: var(--primarypagecolour);
    color: #202020;
}
.tts-button {
    cursor: pointer;
    width: 7.5%;
    height: 7.5%;
    position: fixed;
    right: 1.5%;
    bottom: 1.5%;
    z-index: 900;
}
.tts-button.disabled {
    color: #6e6e6e;
    cursor: not-allowed;
    opacity: 0.6;
}

@media (orientation: portrait) {
    .text-container {
        font-size:180%

    }

    .question-text {
        font-size: 50%;
    }

    .punishment-text {
        font-size: 25%;
    }

    .card-type-text {
        bottom: 3%;
        right: 7.5%;
        font-size: 60%;
    }
    .button-container button {
        border:  var(--bordersize) solid var(--primarypagecolour);
        font-size: 100%;
    }
    .button-container button:hover {
        background-color: #202020;
        color:  var(--primarypagecolour);
    }

    .back-button {
        border: none;
        cursor: pointer;
        background-color: #202020;
        border: 1vw solid var(--primarypagecolour);
        color: var(--primarypagecolour);
        font-size: 60%;
        padding: 5px 5px;
        margin: 0 10px;
        width: 10vw;
        font-family: LemonMilk;
        position: relative;
    }



    .back-button-container {
        position: fixed;
        top: calc(var(--headerheight) + 2.5vh);
        left: 2.5vw;
    }
    .tts-button {
        cursor: pointer;
        width: 15vw;
        height: 15vw;
        right: 5%;
        bottom: 2.5%;
    }
}