:root {
    --backgroundcolour: #131313;
    --bordersize: 5px;
    --headerheight:50px;
}
/* Customize the scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    background-color: transparent /* Background of the scroll bar */
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background-color: var(--primarypagecolour); /* Color of the scrollbar handle */
    border-radius: 10px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondarypagecolour); /* Color when hovering */
}

/* Scrollbar corner */
::-webkit-scrollbar-corner {
    background-color: transparent; /* Color of the corner between horizontal and vertical scrollbars */
}
@font-face {
    src: url('./fonts/LemonMilk/LEMONMILK-Medium.otf');
    font-family: LemonMilk;
}

.header {
    width: 100%;
    height: var(--headerheight);
    background-color: var(--primarypagecolour);
    color: #202020;
    padding: 0 20px;
    display: flex;
    align-items: center;
    font-family: LemonMilk;
    position: fixed;
    transition: background-color 0.2s ease;
    z-index: 1000;
}
.logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container a {
    display: inline-block;
    line-height: 0;
}


.header .logo {
    height: 30px;
    width: auto;
    max-width: 50vw;
}


.settings-icon {
    cursor: pointer;
    position: relative;
    margin-left: auto;
    right: 40px;

}

.extra-menu-icon {
    cursor: pointer;
    position: absolute;
    left: 20px;
}

.settings-icon img {
    height: auto;
    width: 32px;

}

.extra-menu-icon img {
    height: auto;
    width: 32px;
}


html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-image: url('./images/background-tile.png');
    background-size: 384px 414px;
    background-position: top left;
    background-repeat: repeat;
    background-color: var(--backgroundcolour);
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 800;
    overflow-y: auto;
}
.overlay.active{
    display: block;
    overflow-y: hidden;
}
.extra-menu-container
{
    height:100vh;
    width:30vw;
    background-color: var(--backgroundcolour);
    left: -100%;
    position: fixed;
    transition: left 0.7s ease;
    z-index: 900;
}
.extra-menu-container.active {
    left: 0;
}
.extra-menu-title
{
    background-color: var(--backgroundcolour);
    font-size: 250%;
    text-align: center;
    font-family: LemonMilk;
    color: var(--primarypagecolour);
    padding-top:10vh;
    padding-bottom:5vh;
    margin: 0; /* Add this line */
}
.extra-menu-button{
    width:100%;
    height:15%;
    background-color: var(--backgroundcolour);
    font-size: 200%;
    font-family: LemonMilk;
    color: var(--primarypagecolour);;
    outline:none;
    border:0;
}
.extra-menu-button:hover{
    background-color: var(--primarypagecolour);
    color: var(--backgroundcolour);
    font-size: 250%;
}
.overlay {
    min-width: 300px;
    min-width: auto;
}

.settings-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 42vh;
    height: 35vh;
    padding: 20px;
    background-color: var(--backgroundcolour);
    border: 6px solid var(--backgroundcolour);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1001;
    text-align: center;
    font-family: LemonMilk;
    border-radius: 40px;

    max-width: 90vw;
    max-height: auto;

}
.settings-box.active {
    display: block;
}

.settings-box h2,
.settings-box label {
    color: var(--primarypagecolour);
    transition: color 0.2s ease;
}

.settings-option {
    position: relative;
    display: flex;
    align-items: center;
    margin: 1.5vh 0;
    height: 3.5vh;
}

.settings-option label {
    font-size: 30px;
    font-family: LemonMilk;
    margin-right: 10px;
}

.toggle-switch {
    position: absolute;
    right: 10px;
    width: 6vh;
    height: 3.5vh;
    margin-right: 10px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #545454;
    transition: background-color 0.2s ease;
    border-radius: 3vh;
}

.slider:before {
    position: absolute;
    content: "";
    height: 2.5vh;
    width: 2.5vh;
    left: 0.25vh;
    bottom: 0.25vh;
    background-color: white;
    transition: transform 0.2s ease;
    border-radius: 50%;
}

.settings-box h2,
.settings-box #settings-title {
    font-size: 40PX;
    color: var(--primarypagecolour);
    transition: color 0.2s ease;
    padding-bottom: 2%;
}

.settings-box .settings-content {
    margin-top: 3.5vh;
}

input:checked+.slider {
    background-color: var(--primarypagecolour);
}

input:checked+.slider:before {
    transform: translateX(2.5vh);
}

.tts-voice-buttons {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.tts-voice-button {
    width: 50px;
    height: 50px;
    margin: 0 1vh;
    border: 8px solid grey;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--backgroundcolour);
    transition: border-color 0.2s ease;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;

    color: grey;
}
.social-media-container {
    display: flex; /* Use flexbox for layout */
    position: absolute; /* Position it absolutely within the relative container */
    outline: none;
    border: 0;
    bottom: 0; /* Position at the bottom of the container */
    width: 100%; /* Ensure it spans the full width */
    height: 100px; /* Set a height for the container (adjust as necessary) */
    justify-content: left;

}

.social-media-image-container {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    width: 25%;
}

.social-media-image {
    height: 5vh; /* Image height set to 90% of the container */
    object-fit: contain; /* Maintains aspect ratio while fitting */
    width: auto; /* Allow width to adjust based on height */
    z-index:907;
}
.tts-voice-button.selected {
    border-color: var(--primarypagecolour);
    color: var(--primarypagecolour);
}

@media (orientation: portrait) {
    .social-media-container {
        display: flex; /* Use flexbox for layout */
    }
    .extra-menu-container{
        width:75vw;
        height:100%;
    }
    .extra-menu-title{
        font-size:6vw;
    }
    .extra-menu-button{
        font-size:4vw;
        height:17.5%;
    }
    .extra-menu-button:hover{
        font-size: 4.5vw;
    }
    .social-media-image-container {
        width: 30%;
    }
    .social-media-image {
        height: auto; /* Image height set to 90% of the container */
        width: 15vw; /* Allow width to adjust based on height */
    }
    .tts-voice-button {
        height:5vw;
        width:5vw;
    }
}


@media only screen and (max-width: 600px) {

    .tts-voice-button {
        width: 40px;
        height: 40px;
        font-size: 8px;
    }

    .settings-option label {
        font-size: 20px;
        font-family: LemonMilk;
        margin-right: 10px;
    }

    .settings-box h2,
    .settings-box #settings-title {
        font-size: 200%;
    }
}
.full-page-container-static {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #202020; /* or any color you want */
    z-index: 9998;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.full-page-container {
    position: fixed;
    bottom: 0%;
    right: 0; /* right: -100% */
    width: 100%;
    height: 100%;
    background-color: #202020; /* or any color you want */
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    /*  transition: all 0.5s ease-in-out; Smooth movement */
}
.full-page-container img {
    height:30%;
    width:auto;
}


/* Move the container to the center */
.full-page-container.center {
    bottom: 0; /* Position in the center */
}

/* Move the container offscreen to the left */
.full-page-container.left {
    bottom: 100%; /* Move it off to the left */
    transition: all 0.5s ease-in-out; /* Smooth movement to the left */
}
@media (orientation: portrait) {
    .full-page-container {
        position: fixed;
        top: 0;
       /* right: -100%;  Start off the screen from the right */
        width: 100%;
        height: 100%;
    }
    .full-page-container img {
        height:auto;
        width:30%;
    }
    
    /* Move the container to the center */
    .full-page-container.center {
        right: 0; /* Position in the center */
    }
    
    /* Move the container offscreen to the left */
    .full-page-container.left {
        right: 100%; /* Move it off to the left */
        top:0;
        transition: all 0.5s ease-in-out; /* Smooth movement to the left */
    }
    :root {
        --bordersize: 4px; /* Change border size for portrait mode */
    }
}