:root {
    --backgroundcolour: #131313;
    --warningcolour: #FF3333;
    --bordersize: 5px;
    --headerheight:5vh;
}
/* Customize the scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    background-color: transparent /* Background of the scroll bar */
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background-color: var(--primarypagecolour); /* Color of the scrollbar handle */
    border-radius: 10px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondarypagecolour); /* Color when hovering */
}

/* Scrollbar corner */
::-webkit-scrollbar-corner {
    background-color: transparent; /* Color of the corner between horizontal and vertical scrollbars */
}
@font-face {
    src: url('./fonts/LemonMilk/LEMONMILK-Medium.otf');
    font-family: LemonMilk;
}

.header {
    width: 100%;
    height: var(--headerheight);
    background-color: var(--primarypagecolour);
    color: #202020;
    display: flex;
    align-items: center;
    font-family: LemonMilk;
    position: fixed;
    transition: background-color 0.2s ease;
    z-index: 1000;
    
}
.logo-container {
    display: flex; /* Use flexbox layout */
    height: var(--headerheight);
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center;
    margin: auto;
}

.logo-container a {
    display: inline-block;
    line-height: 0;
}
.header .icon-container{
    height: var(--headerheight);
    width: calc(var(--headerheight)*1.5);
    justify-content: center;
    position: absolute; /* Use absolute positioning */
}
.header .icon-container.settings-icon{
    right: 0; /* Align it to the far right of the screen */

}
.header .icon-container.extra-menu-icon{
    left: 0; /* Align it to the far right of the screen */
}
.header .icon-container.help-icon{
    right: calc(var(--headerheight)*1.5); /* Align it to the far right of the screen */
}
.header .logo {
    height: calc(calc(var(--headerheight)/4)*3);
    width: auto;
    max-width: 50vw;
}


.settings-icon,.extra-menu-icon,.help-icon {
    cursor: pointer;
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.settings-icon img,.extra-menu-icon img,.help-icon img {
    height: auto;
    width: 50%;
}
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-image: url('./images/background-tile.png');
    background-size: 384px 414px;
    background-position: top left;
    background-repeat: repeat;
    background-color: var(--backgroundcolour);
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 800;
    overflow-y: auto;
}
.overlay.active{
    display: block;
    overflow-y: hidden;
}
.extra-menu-container
{
    height:100vh;
    width:30vw;
    background-color: var(--backgroundcolour);
    left: -100%;
    position: fixed;
    transition: left 0.7s ease;
    z-index: 900;
}
.extra-menu-container.active {
    left: 0;
}
.extra-menu-title
{
    background-color: var(--backgroundcolour);
    font-size: 250%;
    text-align: center;
    font-family: LemonMilk;
    color: var(--primarypagecolour);
    padding-top:10vh;
    padding-bottom:5vh;
    margin: 0; /* Add this line */
}
.extra-menu-button{
    width:100%;
    height:15%;
    background-color: var(--backgroundcolour);
    font-size: 200%;
    font-family: LemonMilk;
    color: var(--primarypagecolour);;
    outline:none;
    border:0;
}
.extra-menu-button:hover{
    background-color: var(--primarypagecolour);
    color: var(--backgroundcolour);
    font-size: 250%;
}
.overlay {
    min-width: 300px;
    min-width: auto;
}

.settings-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55vh;
    height: auto;
    padding: 20px;
    background-color: var(--backgroundcolour);
    border: 6px solid var(--backgroundcolour);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1001;
    text-align: center;
    font-family: LemonMilk;
    border-radius: 40px;

    max-width: 90vw;

}
.settings-box.active {
    display: block;
}

.settings-box h2,
.settings-box label {
    color: var(--primarypagecolour);
    transition: color 0.2s ease;
}

.settings-option {
    position: relative;
    display: flex;
    align-items: center;
    margin: 1.5vh 0;
    height: 3.5vh;
}

.settings-option label {
    font-size: 30px;
    font-family: LemonMilk;
    margin-right: 10px;
}

.toggle-switch {
    position: absolute;
    right: 10px;
    width: 6vh;
    height: 3.5vh;
    margin-right: 10px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #545454;
    transition: background-color 0.2s ease;
    border-radius: 3vh;
}

.slider:before {
    position: absolute;
    content: "";
    height: 2.5vh;
    width: 2.5vh;
    left: 0.25vh;
    bottom: 0.25vh;
    background-color: white;
    transition: transform 0.2s ease;
    border-radius: 50%;
}

.settings-box h2,
.settings-box #settings-title {
    font-size: 40PX;
    color: var(--primarypagecolour);
    transition: color 0.2s ease;
    padding-bottom: 2%;
}

.settings-box .settings-content {
    margin-top: 3.5vh;
    height:auto;
}

input:checked+.slider {
    background-color: var(--primarypagecolour);
}

input:checked+.slider:before {
    transform: translateX(2.5vh);
}

.tts-voice-buttons {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    height:auto;
}

.tts-voice-button {
    width: 7.5vh;
    height: 7.5vh;
    margin: 0 1vh;
    border: calc(var(--bordersize)*1.5) solid grey;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--backgroundcolour);
    transition: border-color 0.2s ease;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 100%;

    color: grey;
}
.social-media-container {
    display: flex; /* Use flexbox for layout */
    position: absolute; /* Position it absolutely within the relative container */
    outline: none;
    border: 0;
    bottom: 0; /* Position at the bottom of the container */
    width: 100%; /* Ensure it spans the full width */
    height: 100px; /* Set a height for the container (adjust as necessary) */
    justify-content: left;

}

.social-media-image-container {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    width: 25%;
}

.social-media-image {
    height: 5vh; /* Image height set to 90% of the container */
    object-fit: contain; /* Maintains aspect ratio while fitting */
    width: auto; /* Allow width to adjust based on height */
    z-index:907;
}
.tts-voice-button.selected {
    border-color: var(--primarypagecolour);
    color: var(--primarypagecolour);
}
/* Help Container */
.help-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55vh;
    height: auto;
    padding: 2%;
    background-color: var(--backgroundcolour);
    border: var(--bordersize) solid var(--backgroundcolour);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    text-align: center;
    font-family: LemonMilk;
    border-radius: 25px;
    max-width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}
.help-container.active{
    display: block;
}
.help-title {
    color:  var(--primarypagecolour);
    font-size: 200%;
    margin: 2.5% 0%;
}

.help-text {
    color:  var(--primarypagecolour);
    font-size: 100%;
    margin: 5% 0;
}
.help-text highlight{
    color: var(--backgroundcolour);
    background-color: var(--primarypagecolour);
    padding:0 2.5% 0 2.5%;
    border-radius: 25px;
}
.help-text highlight.NSFW{
    color: var(--backgroundcolour);
    background-color: var(--warningcolour);
}

@media (orientation: portrait) {
    .help-container{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 55vh;
        height: auto;
        padding: 2%;
        border-radius: 25px;
        max-width: 80vw;
    }
    .help-text {
        font-size: 80%;
        margin: 5% 0;
    }
    .social-media-container {
        display: flex; /* Use flexbox for layout */
    }
    .extra-menu-container{
        width:75vw;
        height:100%;
    }
    .extra-menu-title{
        font-size:6vw;
    }
    .extra-menu-button{
        font-size:4vw;
        height:17.5%;
    }
    .extra-menu-button:hover{
        font-size: 4.5vw;
    }
    .social-media-image-container {
        width: 30%;
    }
    .social-media-image {
        height: auto;
        width: 7.5vw;
    }
    .tts-voice-button {
        width: 15vw; /* Set the width */
        max-width: 20%; /* Limit the width */
        max-height: 20%; /* This ensures the height follows the width */

    }
    .header .icon-container{
        width: calc(var(--headerheight));
    }
    .settings-icon img,.extra-menu-icon img,.help-icon img {
        height: auto;
        width: 60%;
    }
    .header .icon-container.help-icon{
        right: calc(calc(var(--headerheight)/4)*3); /* Align it to the far right of the screen */
    }
}
.full-page-container-static {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #202020;
    z-index: 9998;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.full-page-container {
    position: fixed;
    bottom: 0%;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #202020;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}
.full-page-container img {
    height:30%;
    width:auto;
}

.full-page-container.center {
    bottom: 0;
}

.full-page-container.left {
    bottom: 100%;
    transition: all 0.5s ease-in-out;
}
@media (orientation: portrait) {
    .full-page-container {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .full-page-container img {
        height:auto;
        width:30%;
    }
    
    .full-page-container.center {
        right: 0;
    }
    
    .full-page-container.left {
        right: 100%;
        top:0;
        transition: all 0.5s ease-in-out;
    }
    :root {
        --bordersize: 4px;
        --headerheight:7vh;
    }
}