@font-face {
    src: url('./fonts/LemonMilk/LEMONMILK-Medium.otf');
    font-family: LemonMilk;
}


.header {
    width: 100%;
    height: 50px;
    background-color: #66CCFF;
    color: #202020;
    padding: 0 20px;
    display: flex;
    align-items: center;
    font-family: LemonMilk;
    position: relative;
    transition: background-color 0.2s ease;
    z-index: 1000;
}


.logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container a {
    display: inline-block;
    line-height: 0;
}


.header .logo {
    height: 30px;
    width: auto;
    max-width: 50vw;
}


.settings-icon {
    cursor: pointer;
    position: relative;
    margin-left: auto;
    right: 40px;

}

.extra-menu-icon {
    cursor: pointer;
    position: absolute;
    left: 20px;
}

.settings-icon img {
    height: auto;
    width: 32px;

}

.extra-menu-icon img {
    height: auto;
    width: 32px;
}


html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-image: url('./images/background-tile.png');
    background-size: 192px 207px;
    background-position: top left;
    background-repeat: repeat;
    background-color: #0f0f0f;
}