@font-face {
    src: url('./fonts/LemonMilk/LEMONMILK-Medium.otf');
    font-family: LemonMilk;
}

.header {
    width: 100%;
    height: 50px;
    background-color: #66CCFF;
    color: #202020;
    padding: 0 20px;
    display: flex;
    align-items: center;
    font-family: LemonMilk;
    position: relative;
    transition: background-color 0.2s ease;
    z-index: 1000;
}


.logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container a {
    display: inline-block;
    line-height: 0;
}


.header .logo {
    height: 30px;
    width: auto;
    max-width: 50vw;
}


.settings-icon {
    cursor: pointer;
    position: relative;
    margin-left: auto;
    right: 40px;

}

.extra-menu-icon {
    cursor: pointer;
    position: absolute;
    left: 20px;
}

.settings-icon img {
    height: auto;
    width: 32px;

}

.extra-menu-icon img {
    height: auto;
    width: 32px;
}


html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-image: url('./images/background-tile.png');
    background-size: 384px 414px;
    background-position: top left;
    background-repeat: repeat;
    background-color: #0f0f0f;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 800;
}
.overlay.active{
    display: block;
}
.extra-menu-container
{
    height:100vh;
    width:30vw;
    background-color: var(--backgroundcolour);;
    left: -100%;
    position: fixed;
    transition: left 0.7s ease;
    z-index: 900;
}
.extra-menu-container.active {
    left: 0;
}
.extra-menu-title
{
    background-color: var(--backgroundcolour);
    font-size: 250%;
    text-align: center;
    font-family: LemonMilk;
    color: var(--primarypagecolour);;;
    padding: 5.5vh 0;
    margin: 0; /* Add this line */
}
.extra-menu-button{
    width:100%;
    height:15%;
    background-color: var(--backgroundcolour);
    font-size: 200%;
    font-family: LemonMilk;
    color: var(--primarypagecolour);;
    outline:none;
    border:0;
}
.extra-menu-button:hover{
    background-color: var(--primarypagecolour);;
    color: var(--backgroundcolour);
    font-size: 250%;
}
@media (orientation: portrait) {
    .extra-menu-container{
        width:75vw;
    }
    .extra-menu-title{
        font-size:200%;
    }
    .extra-menu-button{
        font-size:150%;
        height:10%;
    }
}