* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}
:root {
    --primarypagecolour: #66CCFF;
    --bordersize: 5px;
}

.center-label {
    text-align: center;
    width: 100%;
}

@font-face {
    src: url('./fonts/LemonMilk/LEMONMILK-Medium.otf');
    font-family: LemonMilk;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.container-title {
    color: var(--primarypagecolour);;
    text-align: center;
    margin-top: 10vh;
    font-family: LemonMilk;
    font-size: 50px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 67.5vh;

    max-width: 1000px;
    min-width: 400px;
    gap: 3%;
    margin: 5vh auto 0;
}

.grid-item {
    perspective: 1000px;
    padding-top: 160%;
    position: relative;
}

.card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.4s ease-in-out;
    cursor: pointer;
    will-change: transform;
    transform-origin: center;
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}

.flipped {
    transform: rotateY(180deg);
}


@media only screen and (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        width: 100%;
        height: auto;
        min-width: 0;
        margin: 1vh auto;
    }

    .grid-item {
        padding-top: 140%;
    }

    .container-title {
        font-size: 55px;
        margin-top: 10vh;
    }
}

@media (orientation: portrait) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 55%;
        height: auto;
        min-width: 0;
        margin: 1vh auto;
    }

    .grid-item {
        padding-top: 140%;
    }

    .container-title {
        font-size: 14vw;
        margin-top: 10vh;
    }
}