.overlay {
    min-width: 300px;
    min-width: auto;
}

.settings-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 42vh;
    height: 35vh;
    padding: 20px;
    background-color: #202020;
    border: 1px solid #202020;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1001;
    text-align: center;
    font-family: LemonMilk;
    border-radius: 25px;

    max-width: 60vw;
    max-height: 60vw;
}
.settings-box.active {
    display: block;
}

.settings-box h2,
.settings-box label {
    color: #66CCFF;
    transition: color 0.2s ease;
}

.settings-option {
    position: relative;
    display: flex;
    align-items: center;
    margin: 1.5vh 0;
    height: 3.5vh;
}

.settings-option label {
    font-size: 30px;
    font-family: LemonMilk;
    margin-right: 10px;
}

.toggle-switch {
    position: absolute;
    right: 10px;
    width: 6vh;
    height: 3.5vh;
    margin-right: 10px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #545454;
    transition: background-color 0.2s ease;
    border-radius: 3vh;
}

.slider:before {
    position: absolute;
    content: "";
    height: 2.5vh;
    width: 2.5vh;
    left: 0.25vh;
    bottom: 0.25vh;
    background-color: white;
    transition: transform 0.2s ease;
    border-radius: 50%;
}

.settings-box h2,
.settings-box #settings-title {
    font-size: 40PX;
    color: #66CCFF;
    transition: color 0.2s ease;
    padding-bottom: 2%;
}

.settings-box .settings-content {
    margin-top: 3.5vh;
}

input:checked+.slider {
    background-color: var(--slider-background-checked, #66CCFF);
}

input:checked+.slider:before {
    transform: translateX(2.5vh);
}

.tts-voice-buttons {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.tts-voice-button {
    width: 50px;
    height: 50px;
    margin: 0 1vh;
    border: 8px solid grey;
    border-radius: 50%;
    cursor: pointer;
    background-color: #202020;
    transition: border-color 0.2s ease;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;

    color: grey;
}


.tts-voice-button.selected {
    border-color: #66CCFF;
    color: #66CCFF;
}

@media only screen and (max-width: 600px) {

    .tts-voice-button {
        width: 30px;
        height: 30px;
        font-size: 8px;
    }

    .settings-option label {
        font-size: 20px;
        font-family: LemonMilk;
        margin-right: 10px;
    }

    .settings-box h2,
    .settings-box #settings-title {
        font-size: 20PX;
    }
}