.spin-the-wheel-container{
    background-color: var(--secondarybackgroundcolour); 
    height:350px;
    width:350px;
    border-radius: 50px;
    position:absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%; /* Center horizontally as well */
    transform: translate(-50%, -50%); /* Center both vertically and horizontally */
    z-index:900;
    display: none;
  }
  .spin-the-wheel-container.active{
    display: flex;
  }

  #spin_the_wheel {
    display: inline-block;
    position: relative;
    overflow: hidden;
  }
  
  #wheel {
    display: block;
    border-radius: 50px;
  }
  
  #spin {
    font:
      0.6em/0 "LemonMilk",
      sans-serif;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    height: 20%;
    margin: -10%;
    background: #fff;
    color: #fff;
    box-shadow:
      0 0 0 8px currentColor,
      0 0px 15px 5px rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    transition: 0.8s;
  }
  
  #spin::after {
    content: "";
    position: absolute;
    top: -17px;
    border: 10px solid transparent;
    border-bottom-color: currentColor;
    border-top: none;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }