.subscriber-form-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 42vh;
    height: 35vh;

    background-color: var(--backgroundcolour);
    border: 6px solid var(--backgroundcolour);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    display: block; /* block */
    z-index: 900;
    border-radius: 50px;

    max-width: 90vw;
    max-height: auto;
}
.subscriber-form-container {
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: LemonMilk;
}
.subscriber-form-container h2{
    margin-top:17.5%;
}
.subscriber-form-container h2
.subscriber-form-container label {
    color: var(--primarypagecolour);
    transition: color 0.2s ease;
}
.subscriber-form-container h2,
.subscriber-form-container #subscriber-form-title {
    font-size: 250%;
    color: var(--primarypagecolour);
    transition: color 0.2s ease;
    margin-bottom: 5%;
}

.subscriber-form-container {
    margin-top: 0%;
}
.subscriber-form-container button
{
    margin-top:2.5%;
    background-color: #202020;
    border-radius:50px;
    border: var(--bordersize) solid var(--primarypagecolour);
    color: var(--primarypagecolour);
    font-family: LemonMilk;
    padding: 5px 10px;
    font-size: 80%;
}
.subscriber-form-container button:hover{    
    background-color:  var(--primarypagecolour);
    color: #202020;
}
.input-field{
    border: var(--bordersize) solid var(--primarypagecolour);
    border-radius: 50px;
    background-color: #202020;
    color: var(--primarypagecolour);
    font-size: 100%;
}
.subscriber-form-container label{
    color: var(--primarypagecolour);
}
