.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.warning-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 42vh;
    height: 35vh;
    padding: 20px;
    background-color: #101010;
    border: 1px solid #101010;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    text-align: center;
    font-family: LemonMilk;
    border-radius: 25px;
    max-width: 60vw;
    max-height: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

.start-game-warning-button {
    padding: 10px 20px;
    font-family: LemonMilk;
    font-size: 1.25em;
    color: #FF3333;
    background-color: #202020;
    border: 6px solid #FF3333;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    min-width: 120px;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.warning-image {
    width: 35%;
    height: 35%;
    margin-bottom: 15px;
}

.warning-title {
    color: #FF3333;
    font-size: 40px;
    margin: 0px 0 10px;
}

.warning-text {
    color: #FF3333;
    font-size: 16px;
    margin: 10px 0;
}

.start-game-warning-button {
    background-color: #101010;
    color: #FF3333;
    border: 4px solid #FF3333;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.start-game-warning-button:hover {
    background-color: #FF3333;
    color: #202020;
    border-color: #FF3333;
}

@media only screen and (max-width: 600px) {
    .warning-image {
        width: 35%;
        height: 35%;
        margin-bottom: 5px;
    }

    .warning-title {
        font-size: 30px;
        margin: 0px 0 0px;
    }

    .warning-text {
        font-size: 14px;
        padding-bottom: 0vh;
    }

    .start-game-warning-button {
        font-size: 10px;
        padding: 0.8em 0.4em;
        margin-top: 0px;
    }
}