* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}
:root {
    --primarypagecolour: #66CCFF;
}
.container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
}

.about-us-container {
    text-align: center;
    font-weight: bold;
    color: #66CCFF;
    width: calc(50vh * (136.21/217.93));
    min-width: 300px;
    margin-bottom: 2vh; /* Add some spacing between About Us and Card Container */
}

.about-us-text {
    font-family: LemonMilk;
    line-height: 0.2;
    max-width: 100%;
    font-size: 70px;
}

.card-container {
    perspective: 1000px;
    height: 50vh;
    width: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1vh;
    min-width: 300px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    perspective: 1000px;
}

.card img {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card.flipped {
    transform: rotateY(180deg);
}
.tts-button {
    cursor: pointer;
    width: 7.5%;
    height: 7.5%;
    position: fixed;
    right: 20px; /* Adjust as needed */
    bottom: 20px; /* Adjust as needed */
    z-index: 900;
}
.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}

@media (orientation: portrait) {
    .card-container {
        width: 60vw;
        aspect-ratio: 217.93 / 136.21;
        transform: translateY(-10%);
        min-width: 0px;
    }

    .about-us-container {
        width: 50vw;
        transform: translateY(-30%);
    }

    .about-us-text {
        font-size: calc(7vh + 1.5vw);
        transform: translateY(-10%);
    }
    .tts-button {
        cursor: pointer;
        width: 15vw;
        height: 15vw;
        right: 5%; /* Adjust as needed */
        bottom: 2.5%; /* Adjust as needed */
    }
}
