@font-face {
    src: url('../../Fonts/LemonMilk/LEMONMILK-Medium.otf');
    font-family: LemonMilk;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-image: url('./Images/Background-Tile.png');
    background-size: 192px 212px;
    background-position: top left;
    background-repeat: repeat;
    background-color: #0f0f0f;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    position: relative;
    user-select: none;
    -webkit-user-drag: none;
    overflow: hidden;
}

.card-container {
    perspective: 1000px;
    height: 50vh;
    aspect-ratio: 136.21/217.93;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1vh;
    min-width: 300px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    perspective: 1000px;
}

.card img {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card.flipped {
    transform: rotateY(180deg);
}

.side-button-container {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    z-index: 100;
}

.side-button {
    cursor: pointer;
    width: 60px;
    height: 60px;
    max-width: 10.5vw;
    min-width: 50px;
}

.side-button.disabled {
    color: #6e6e6e;
    cursor: not-allowed;
    opacity: 0.6;
}

.about-us-container {
    text-align: center;
    font-weight: bold;
    color: #66CCFF;
    width: calc(50vh * (136.21/217.93));
    min-width: 300px;
}

.about-us-text {
    font-family: LemonMilk;
    line-height: 0;
    max-width: 100%;
    font-size: 70px;
}

@media (max-device-width: 1024px) and (orientation: portrait) {
    .card-container {
        width: 60vw;
        aspect-ratio: 217.93 / 136.21;
        transform: translateY(-10%);
        min-width: 0px;
    }

    .about-us-container {
        width: 50vw;
        transform: translateY(-30%);
    }

    .about-us-text {
        font-size: calc(7vh + 1.5vw);
        transform: translateY(-10%);
    }
}