:root {
    --primarypagecolour: #6A9EF6;
    --tag1colour: #F6C86D;
    --tag2colour: #FC7E93;
    --tag3colour: #AA88F0; 
    --tag4colour: #67E1A3; 
    --tag5colour: #F672D2; 

    --bordersize: 5px;
}
.title-container,.container,.filter-container{
    min-width: 480px;
}
.parent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;

}
.title-container {
    position: relative;
    width: 40vw;
    height: auto;
    margin-top: 7.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container
{
    position: relative;
    width:40vw;
    height:auto;
}
.title-text {
    margin: 0;
    text-align: center;
    font-family: LemonMilk;
    color: var(--primarypagecolour);
    font-size: 200%;
    flex: 1;
    transform: translateX(1.25%);

}

.search-bar {
    border-radius: 4px;
    width: 15%;
    border: var(--bordersize) solid var(--primarypagecolour);
    background-color: var(--backgroundcolour);
    color: var(--primarypagecolour);
    border-radius: 50px;
    padding: 0.5vh 1vw;
    font-family: LemonMilk;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:100;
    font-size: 70%;
}

.filter-button {
    border: 1px solid #ccc;
    border-radius: 4px;
    border: var(--bordersize) solid var(--primarypagecolour);
    background-color: var(--backgroundcolour);
    color: var(--primarypagecolour);
    border-radius: 50px;
    padding: 0.5vh 1vw;
    font-family: LemonMilk;
    width: 20%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70%;
    cursor: pointer;
}
.filter-button.hidden {
    border-color: gray;
    color: gray;
}
.dropdown-menu {
    padding: 8px;
    border: 1px solid #ccc;
    width: 16%;
    border: 0px solid var(--primarypagecolour);
    background-color: transparent;
    color: var(--primarypagecolour);
    border-radius: 50px;
    padding: 0 1vw;
    font-family: LemonMilk;
    margin: 0;
    position: relative;
}

.dropdown-menu select {
    width: 100%;
    background: transparent;
    color: inherit;
    border: none;
    font-family: inherit;
    padding: 0;
    outline: none;
    background-color: var(--backgroundcolour);
}

.filter-container {
    position: relative;
    width: 40vw;
    height: auto;
    padding: 1vh 0;
    margin: 2vh 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--backgroundcolour);
    border: #202020 solid var(--primarypagecolour);
    border-radius: 50px;
}

.tag-container label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
    font-family: LemonMilk;
    font-size: small;
    cursor: pointer;

}
.tag-checkbox {
    appearance: none;
    width: 15px;
    height: 15px;
    border: var(--bordersize) solid var(--backgroundcolour);
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    position: relative;
}
.extra-details-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    color: #555;
    font-size:100%;
    font-family: Helvetica;
}

.author,.date {
    margin-left: 0px;
    color: var(--tag1colour);
    font-size: 80%; 
    font-family: Helvetica;
}

.tag-checkbox#tag1 {
    border-color: var(--tag1colour);
}
.tag-checkbox#tag2 {
    border-color: var(--tag2colour);
}
.tag-checkbox#tag3 {
    border-color: var(--tag3colour);
}
.tag-checkbox#tag4 {
    border-color: var(--tag4colour);
}
.tag-checkbox#tag5 {
    border-color: var(--tag5colour);
}
.tag-checkbox#tag-all {
    border-color: var(--primarypagecolour);
}

.tag-checkbox:checked {
    background-color: var(--backgroundcolour);
}

.tag-checkbox:checked::before {
    font-size: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
}
#tag1.tag-checkbox:checked {
    background-color: var(--tag1colour);
}
#tag2.tag-checkbox:checked {
    background-color: var(--tag2colour);
}
#tag3.tag-checkbox:checked {
    background-color: var(--tag3colour);
}
#tag4.tag-checkbox:checked {
    background-color: var(--tag4colour);
}
#tag5.tag-checkbox:checked {
    background-color: var(--tag5colour);
}
#tag-all.tag-checkbox:checked {
    background-color: var(--primarypagecolour);
}
    
     

#tag1 + span {
    color: var(--tag1colour);
}

#tag2 + span {
    color: var(--tag2colour);
}
#tag3 + span {
    color: var(--tag3colour);
}
#tag4 + span {
    color: var(--tag4colour);
}
#tag5 + span {
    color: var(--tag5colour);
}
#tag-all + span {
    color: var(--primarypagecolour);
}
.tag-container input[type="checkbox"] {
    accent-color: var(--tag1colour);
}
.tag-container input[type="checkbox"]#tag2 {
    accent-color: var(--tag2colour);
}
.tag-container input[type="checkbox"]#tag3 {
    accent-color: var(--tag3colour);
}
.tag-container input[type="checkbox"]#tag4 {
    accent-color: var(--tag4colour);
}
.tag-container input[type="checkbox"]#tag5 {
    accent-color: var(--tag5colour);
}
.tag-container input[type="checkbox"]#tag-all {
    accent-color: var(--primarypagecolour);
}
.tag-container .tag-checkbox {
    margin-left: 10px;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width:90%;
    padding: 2.5%;
}

.blog-post-container {
    height: auto;
    width: 100%;
    margin: 2vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    clear: both;
}
.blog-post-button
{
    border: var(--bordersize) solid var(--tag1colour);
    background-color: var(--backgroundcolour);
    color: var(--tag1colour);
    border-radius: 50px;
    padding: 1vh 1vw;
    font-family: LemonMilk;
    width:100%;
    cursor: pointer;
}
.blog-post-image
{
    width:100%;
    height:auto;
    object-fit: contain;
}
h2.blog-post-image-header
{
    width:100%;
    height:auto;
    margin: 1vh auto;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-family: Helvetica;
    color: var(--tag1colour);
    font-size: 18px; 
}
h3.blog-post-image-text
{
    width:100%;
    height:auto;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-family: Helvetica;
    color: var(--tag1colour);
    font-size: 75%; 
}
.blog-post-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.15s ease, padding 0.15s ease;
    padding: 0 10px;
    opacity: 0;
}

.blog-post-content.open {
    max-height: 500px;
    padding: 10px 10px;
    opacity: 1;
}
.read-more-link {
    display: block;
    text-align: center;
    justify-content: center;
    margin: 0px auto;
    color: inherit;
    font-family: LemonMilk;
    font-size: 80%;
}

@media (orientation: portrait) and (max-width: 1024px) {
    .container,.title-container,.filter-container {
        width: 90vw;
    }
    .title-container,.container,.filter-container{
        min-width: auto;
    }

    .title-text {
        font-size:220%;
        transform: translateX(0%);
    }
    .search-bar {
        width: 60%;
        padding: 8px;
        border: 1vw solid var(--primarypagecolour);
        background-color: #202020;
        color: var(--primarypagecolour);
        border-radius: 50px;
        padding: 0.5vh 1vw;
        font-family: LemonMilk;
        z-index:100;
        font-size: 40%;
        margin: 0 auto;
        transform: translateX(0%);
    }
    .filter-container{
        border-radius: 5px;
    }
    .filter-button{
        border: 1vw solid var(--primarypagecolour);
        font-size: 1%;
        padding: 0.5vh 0.1vw;
        display: none;
    }
    
    .title-container {
        width: auto;
        margin-right: 10px;
        margin-top: 10vh;
    }
    .tag-container label{
        font-size: 2vw;

    }
    .tag-container{
        gap: auto;
        padding-right: 0%;
        margin: 0 auto;

    }
    .tag-checkbox {
        width:1.5em;
        height:1.5em;

        max-width:40px;
        max-height:40px;
    }
    .dropdown-menu{
        width:31%;
        font-size:50%;
    }
    .blog-post-button{
        border-width: 1vw;
    }
} 
