* {
    user-select: none;
}

html,
body {
    overflow: hidden;
}

button,
.button {
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.home-button {
    position: absolute;
    top: calc(var(--headerheight) + 20px);
    left: 5px;
    font-size: 1.5vh;
    padding: 5px 10px;
    width: 10vh;
    border: var(--bordersize) solid var(--secondarybackgroundcolour);
    border-radius: 50px;
    background-color: var(--secondarybackgroundcolour);
    color: var(--primarypagecolour);
    text-align: center;
    z-index: 600;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.main-container {
    position: fixed;
    width: 100vw;
    top: var(--headerheight);
    height: calc(100dvh - var(--headerheight));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.main-settings-container {
    width: auto;
    height: 70dvh;
    position: fixed;
}

#gamemode-settings-placeholder {
    height: 100%;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin: 15px 0;
    width: 100%;
}

.header-container h2 {
    font-size: 32px;
    color: var(--primarypagecolour);
    text-align: center;
    line-height: 1;
    margin: 0;
}

button.disabled {
    background-color: #333333 !important;
    color: #666666 !important;
    border-color: #333333 !important;
    cursor: not-allowed !important;
    pointer-events: none !important;
}

.button-container .button-toggle {
    background-color: var(--backgroundcolour);
    border: var(--bordersize) solid var(--backgroundcolour);
    color: #999999;
}

.button-container .button-toggle.inactive{
    display: none !important;
}

.button-container button.active {
    background-color: var(--primarypagecolour);
    border-color: var(--primarypagecolour);
    color: var(--backgroundcolour);
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 5px;
    justify-content: center;
    width: 100%;
    height: auto;
    overflow-y: auto;
}

.oes-content-container .button-container .button-toggle,
.waiting-room-container .button-container .button-toggle,
.main-settings-container .button-container .button-toggle {
    padding: 10px 20px;
    min-width: 120px;
    border-radius: 50px;
    text-align: center;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.oes-content-container .button-container button .difficulty-icon,
.waiting-room-container .button-container button .difficulty-icon,
.main-settings-container .button-container button .difficulty-icon {
    aspect-ratio: 1/1;
    height: 25px;
    object-fit: contain;
    margin-left: 5px;
    /* optional extra spacing */
    pointer-events: none;
    /* prevents accidental clicks on image */
}

.settings-tab-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.settings-tab-container button {
    padding: 5px 20px;
    background-color: var(--secondarybackgroundcolour);
    color: #999999;
    border: none;
    border-radius: 10px 10px 0 0;
}

.settings-tab-container button.active {
    background-color: var(--primarypagecolour);
    color: var(--secondarybackgroundcolour);
}

.increment-container {
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    white-space: nowrap;
    box-sizing: border-box;
    width: fit-content;
    transition: background-color 0.3s, color 0.3s;
    background-color: var(--backgroundcolour);
    border-color: var(--backgroundcolour);
    display: flex;
    align-items: center;
    gap: 10px;
}

.increment-container.disabled {
    background-color: #333333 !important;
    color: #666666 !important;
    border-color: #333333 !important;
    cursor: not-allowed !important;
    pointer-events: none !important;
}

.increment-container.inactive {
    display: none;
}

.count-wrapper {
    display: flex;
    width: fit-content;
    align-items: center;
    background-color: #222;
    border-radius: 10px;
}

.increment-container.disabled .count-wrapper {
    background-color: #333333 !important;
}

.count-btn {
    width: 25px;
    height: 25px;
    font-weight: bold;
    font-size: 1rem;
    color: var(--backgroundcolour);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.increment-container.disabled .count-btn {
    background-color: #666666 !important;
    border-color: #666666 !important;
    color: #333333 !important;
}


.count-display {
    color: var(--backgroundcolour);
    font-size: 1.25rem;
    padding: 0 10px;
    min-width: 20px;
    text-align: center;
}

.increment-container.disabled .count-display{
    background-color: var(--backgroundcolour);
    color: #666666;
}

.increment-container.disabled .count-display {
    color: #666666;
}

.oes-content-container .button-container .button-toggle,
.waiting-room-container .button-container .button-toggle,
.main-settings-container .button-container .button-toggle,
.increment-container .settings-name {
    font-size: 16px;
}

.increment-container .settings-name {
    color: var(--primarypagecolour);
}


.increment-container.disabled .settings-name {
    color: #666666 !important;
}

@media (orientation: portrait) {
    .main-settings-container {
        height: 70dvh;
    }

    .header-container h2 {
        font-size: 24px;
    }

    .packs-container,
    .rules-settings-container,
    .online-game-settings-container {
        width: 90vw;
        max-width: 1280px;
        height: 70dvh;
    }

    .settings-tab-container {
        width: 90vw;
    }

    .button-container {
        margin: 0 auto;
        display: block;
        width: 100%;
        height: 100%;
        scroll-snap-type: y mandatory;
    }

    .waiting-room-container .button-container .button-toggle,
    .main-settings-container .button-container .button-toggle,
    .oes-content-container .button-container .button-toggle {
        width: 90%;
        margin: 5px 5%;
        font-size: 16px;
        scroll-snap-align: start;
        box-sizing: border-box;
    }

    .increment-container {
        width: 90%;
        margin: 5px 5%;
        font-size: 16px;
        scroll-snap-align: start;
        box-sizing: border-box;
    }

    .count-wrapper {
        margin-left: auto;
    }

}