* {
    user-select: none;
}

html,
body {
    overflow: hidden;
}

button,
.button {
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.home-button {
    position: absolute;
    top: calc(var(--headerheight) + 20px);
    left: 5px;
    font-size: 1.5vh;
    padding: 5px 10px;
    width: 10vh;
    border: var(--bordersize) solid var(--secondarybackgroundcolour);
    border-radius: 50px;
    background-color: var(--secondarybackgroundcolour);
    color: var(--primarypagecolour);
    text-align: center;
    z-index: 600;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.main-container {
    position: fixed;
    width: 100vw;
    top: var(--headerheight);
    height: calc(100dvh - var(--headerheight));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.main-settings-container {
    width: auto;
    height: 70dvh;
    position: fixed;
}

#gamemode-settings-placeholder {
    height: 100%;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin: 15px 0;
    width: 100%;
}

.header-container h2 {
    font-size: 32px;
    color: var(--primarypagecolour);
    text-align: center;
    line-height: 1;
    margin: 0;
}

button.disabled {
    background-color: #333333 !important;
    color: #666666 !important;
    border-color: #333333 !important;
    cursor: not-allowed !important;
    pointer-events: none !important;
}

.button-container button {
    background-color: var(--backgroundcolour);
    border: var(--bordersize) solid var(--backgroundcolour);
    color: #999999;
}

.button-container button.active {
    background-color: var(--primarypagecolour);
    border-color: var(--primarypagecolour);
    color: var(--backgroundcolour);
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 5px;
    justify-content: center;
    width: 100%;
    height: auto;
    overflow-y: auto;
}

.waiting-room-container .button-container button,
.main-settings-container .button-container button {
    font-size: 16px;
    padding: 10px 20px;
    min-width: 120px;
    border-radius: 50px;
    text-align: center;
    white-space: nowrap;

    display: flex;
    align-items: center;
    justify-content: center;
}

.waiting-room-container .button-container button .difficulty-icon,
.main-settings-container .button-container button .difficulty-icon {
    aspect-ratio: 1/1;
    height: 25px;
    object-fit: contain;
    margin-left: 5px; /* optional extra spacing */
    pointer-events: none; /* prevents accidental clicks on image */
}

.settings-tab-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.settings-tab-container button {
    padding: 5px 20px;
    background-color: var(--secondarybackgroundcolour);
    color: #999999;
    border: none;
    border-radius: 10px 10px 0 0;
}

.settings-tab-container button.active {
    background-color: var(--primarypagecolour);
    color: var(--secondarybackgroundcolour);
}

.increment-container {
    padding: 10px 20px;
    min-width: 120px;
    border-radius: 50px;
    cursor: pointer;
    white-space: nowrap;
    box-sizing: border-box;
    width: auto;
    transition: background-color 0.3s, color 0.3s;
    background-color: var(--backgroundcolour);
    border-color: var(--backgroundcolour);
    display: flex;
    align-items: center;
    gap: 10px;
}

.increment-container.disabled {
    display: none;
}

.count-wrapper {
    display: flex;
    align-items: center;
    background-color: #222;
    padding: 5px;
    border-radius: 10px;
}

.count-btn {
    width: 30px;
    height: 30px;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    background-color: #444;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.count-btn.disabled {
    background-color: #272727;
}

.count-display {
    color: white;
    
    font-size: 1.25rem;
    padding: 0 10px;
    min-width: 20px;
    text-align: center;
}

@media (orientation: portrait) {
    .main-settings-container {
        height: 70dvh;
    }

    .header-container h2 {
        font-size: 24px;
    }

    .packs-container,
    .rules-settings-container,
    .online-game-settings-container {
        width: 90vw;
        max-width: 1280px;
        height: 70dvh;
    }

    .settings-tab-container {
        width: 90vw;
    }

    .button-container {
        margin: 0 auto;
        display: block;
        width: 100%;
        height: 100%;
        scroll-snap-type: y mandatory;
    }

    .button-container button {
        width: 90%;
        margin: 5px 5%;
        font-size: 16px;
        scroll-snap-align: start;
        box-sizing: border-box;
    }
}