.gamemode-text-container,
.main-image-container,
.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gamemode-text-svg {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
}

.main-image-container {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image {
    width: 100%;
    /* Set a fixed width or use a percentage */
    height: auto;
}

.card-type-text {
    position: absolute;
    bottom: 2.5%;
    /* Slight offset from the bottom */
    right: 5%;
    /* Slight offset from the right */
    font-size: 0.75rem;
    color: var(--primarypagecolour);
    font-family: LemonMilk;
    text-align: right;
    padding: 5px 10px;
    border-radius: 5px;
}

.question-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #ff5722;
    color: white;
    transition: background 0.3s ease;
}

.question-button:hover {
    background-color: #e64a19;
}

.text-container {
    bottom: 10px;
    color: var(--primarypagecolour);
    font-size: 12px;
    font-family: LemonMilk;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.question-text {
    font-size: 16px;
    padding: 0%;
}

.punishment-text {
    font-size: 35%;
    color: #ff5f5f;
}

.content .button-container button {
    font-family: LemonMilk;
    background-color: var(--backgroundcolour);
    color: var(--primarypagecolour);
    flex: 1 1 auto;
    cursor: pointer;
    width: 100%;
    background-color: var(--backgroundcolour);
    border: var(--bordersize) solid var(--primarypagecolour);
    font-size: 100%;
    padding: 3% 5%;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    font-family: LemonMilk;
    transition: background-color 0.3s, color 0.3s;
}

.content .button-container button:hover {
    background-color: var(--primarypagecolour);
    color: var(--backgroundcolour);
}

.card-container {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    box-sizing: border-box;
    height: calc(var(--vh, 1vh) * 100 - var(--headerheight));
    margin-top: var(--headerheight);
}

.card-container.active {
    display: flex;
}

.regular-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: auto;
    width: 300px;
    max-width: 75vw;
    max-height: auto;
}

.main-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
}

.main-image-container {
    position: relative;
}

.main-image {
    width: 100%;
    height: auto;
}


.card-type-text {
    position: absolute;
    bottom: 2.5%;
    right: 5%;
    font-size: clamp(0.75rem, 1vw, 1rem);
    color: var(--primarypagecolour);
    font-family: LemonMilk;
    text-align: right;
    padding: 5px 10px;
    border-radius: 5px;
}

.regular-button-container button {
    font-family: LemonMilk;
    background-color: var(--backgroundcolour);
    color: var(--primarypagecolour);
    flex: 1 1 auto;
    width: 100%;
    background-color: var(--backgroundcolour);
    border: var(--bordersize) solid var(--primarypagecolour);
    font-size: 100%;
    padding: 3% 5%;
    border-radius: 50px;
    text-align: center;
    font-family: LemonMilk;
    transition: background-color 0.3s, color 0.3s;
}

.regular-button-container button.disabled {
    display: none;
}

.regular-button-container h2 {
    font-size: 18px;
    color: var(--primarypagecolour);
    font-family: LemonMilk;
    display: flex;
    text-align: center;
}

.regular-button-container h2.disabled {
    display: none;
}

.regular-button-container button:hover,
.button-container button:hover {
    background-color: var(--primarypagecolour);
    color: var(--backgroundcolour);
}

@media (orientation: portrait) {
    .content {
        height: 75vh;
        width: auto;
        max-width: 70vw;
        max-height: auto;
    }
}