.chat-box {
    position: fixed;
    top: var(--headerheight);
    right: 0;
    width: 100vw;
    max-width: 500px;
    height: auto;
    max-height: 100px;
    background-color: #00000008;
    color: var(--primarypagecolour);
    
    font-size: 12px;
    z-index: 399;
    display: flex;
    flex-direction: column;
}

.chat-box.expanded {
    max-height: 80vh;
    background-color: var(--backgroundcolour);
}

.chat-input {
    padding: 5px;
    flex-shrink: 0;
}

.chat-input input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: var(--primarypagecolour);
    
    font-size: 12px;
}

.chat-messages {
    flex: 1;
    min-height: 0;
    overflow-y: hidden;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
}

.chat-box.expanded .chat-messages {
    overflow-y: auto;
}

.chat-box p {
    margin: 0;
    line-height: 1.2;
}

.chat-box:not(.expanded) p:not(.new-message) {
    display: none;
}

.chat-box .disconnected {
    color: var(--secondarypagecolour);
}

.chat-box .reconnected {
    color: var(--primarypagecolour);
}


