.timer-wrapper {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  z-index: 301;
}

.timer-wrapper.active {
  display: flex;
}

.timer-wrapper.small {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  height: 2.5rem;
  gap: 0;
}

.timer-label {
  height:auto;
  margin-bottom: 10px;
}

.timer-wrapper.small .timer-label {
  display: none; /* Hide label in small mode */
}

.timer-container {
  background-color: var(--secondarybackgroundcolour);
  border: 6px solid var(--primarypagecolour);

  aspect-ratio: 1 / 1;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.timer-container, .timer-label{
  min-width: 300px;
  width: 20vw;
}

.timer-wrapper.small .timer-container {
  height: 4rem;
  border-width: 3px;
  border-radius: 50%;
}

.timer {
  background: linear-gradient(to right, var(--backgroundcolour) 50%, var(--primarypagecolour) 50%);
  border-radius: 50%;
  height: 80%;
  aspect-ratio: 1/1;
  position: relative;
  mask: radial-gradient(transparent 50%, #000 50%);
  -webkit-mask: radial-gradient(transparent 50%, #000 50%);
}

.timer-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: bold;
  color: var(--primarypagecolour);
  pointer-events: none;
  z-index: 2;
}

.timer-wrapper.small .timer-number {
  font-size: 1rem;
}

.mask {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 100% 50%;
}

@keyframes time {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes mask {
  0% {
    background: var(--primarypagecolour);
    transform: rotate(0deg);
  }
  49.9% {
    background: var(--primarypagecolour);
    transform: rotate(-179.8deg);
  }
  50% {
    background: var(--backgroundcolour);
    transform: rotate(0deg);
  }
  100% {
    background: var(--backgroundcolour);
    transform: rotate(-180deg);
  }
}
