.main-container {
    position: fixed;
    top: 0;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100 - var(--headerheight));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.card-container {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    box-sizing: border-box;
    height: calc(var(--vh, 1vh) * 100 - var(--headerheight));
    margin-top: var(--headerheight);
}

.card-container.active {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: auto;
    width: auto;
    max-height: auto;
}

.main-image-container,
.regular-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5vh 0;
    z-index: 101;
}

.main-image-container {
    position: relative;
}

.main-image {
    width: 100%;
    height: auto;
}


.card-type-text {
    position: absolute;
    bottom: 2.5%;
    right: 5%;
    font-size: 0.75rem;
    color: var(--primarypagecolour);
    font-family: LemonMilk;
    text-align: right;
    padding: 5px 10px;
    border-radius: 5px;
}

.text-container {
    bottom: 10px;
    color: var(--primarypagecolour);
    font-size: 12px;
    font-family: LemonMilk;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;

}

.regular-button-container button {
    font-family: LemonMilk;
    background-color: var(--backgroundcolour);
    color: var(--primarypagecolour);
    flex: 1 1 auto;
    width: 100%;
    background-color: var(--backgroundcolour);
    border: var(--bordersize) solid var(--primarypagecolour);
    font-size: 100%;
    padding: 3% 5%;
    border-radius: 50px;
    text-align: center;
    font-family: LemonMilk;
    transition: background-color 0.3s, color 0.3s;
}

.regular-button-container button:hover {
    background-color: var(--primarypagecolour);
    color: var(--backgroundcolour);
}

.content-container,
.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 1vh auto;
    gap: 10px;
}

.user-confirmed-section {
    position: relative;
    width: 80%;
    display: flex;
    color: var(--backgroundcolour);
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1vh 10%;
    gap: 15px 5px;
}

.user-confirmed-section .icon {
    font-family: LemonMilk;
    font-weight: bold;
    font-size: 2vw;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.user-confirmed-section .icon.yes {
    color: var(--primarypagecolour);
}

.user-confirmed-section .icon.no {
    color: var(--warningcolour);
}

.content-container h1,
.content-container h2,
.content-container p {
    font-family: LemonMilk;
    text-align: center;
    color: var(--primarypagecolour);
}

.content-container h1 {
    font-size: 30px;
}

.content-container h2 {
    font-size: 20px;
}

.content-container p {
    font-size: 15px;
}

.main-container button {
    font-family: LemonMilk;
    padding: 10px 20px;
    min-width: 120px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    box-sizing: border-box;

    outline: none;
    border: none;
    outline: none;
    box-shadow: none;

    color: var(--primarypagecolour);
    background-color: var(--backgroundcolour);
    border-color: var(--backgroundcolour);

    transition: background-color 0.3s, color 0.3s;
}

.button-container button {
    width: 100%;
    font-size: 1.5vw;
}

.button-container button.active {
    background-color: var(--primarypagecolour);
    color: var(--backgroundcolour);
    border-color: var(--primarypagecolour);
}

.selected-user-container {
    display: none;
    flex-direction: column;
    border-radius: 10px;
    height: 70vh;
    aspect-ratio: 9/16;
    background-color: var(--secondarybackgroundcolour);
    position: relative;
    overflow: hidden;
    margin-top: 10vh;
}

.selected-user-container.small {
    height: 40%;
    aspect-ratio: 4/3;
}

.selected-user-container.very-small {
    height: 20%;
    aspect-ratio: 16/9;
    margin: 0 auto;
    gap: 0;
}

.selected-user-container.very-small .content-container {
    margin: 1vh auto;
}

.select-button-container {
    position: absolute;
    bottom: 25%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    pointer-events: auto;
    gap: 2.5%;
}

.select-button {
    font-family: LemonMilk;
    font-size: 1vw;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    color: var(--primarypagecolour);
    background-color: var(--backgroundcolour);
    cursor: pointer;
    width: 40%;
    box-sizing: border-box;
}


.selected-user-container.active {
    display: flex;
}

.main-container button:not(.active):hover {
    background-color: var(--secondarypagecolour);
    color: var(--secondarybackgroundcolour);
    border-color: var(--primarypagecolour);
}

.selected-user-container.very-small {
  align-items: flex-start;
}


@media (orientation: portrait) {
    .button-container button {
        width: 100%;
        font-size: 1.5vh;
    }

    .regular-button-container button {
        font-size: 100%;
    }

    .select-button {
        font-size: 1.5vh;
    }

    .content-container h1 {
        font-size: 8vw;
    }
}