@font-face {
    font-family: "LemonMilk";
    src: url("/fonts/LemonMilk/LEMONMILK-Medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

html,
body,
html * {
    margin: 0;
    padding: 0;
    font-family: "LemonMilk", Arial, sans-serif;
}

html,
body {
    height: 100%;
}

a {
    color: var(--primarypagecolour);
}

a:hover {
    color: var(--secondarypagecolour);
}

:root {
    --primarypagecolour: #9D8AFF;
    --secondarypagecolour: #7F71B2;
    --backgroundcolour: #202020;
    --secondarybackgroundcolour: #131313;
    --warningcolour: #FF3333;
    --bordersize: 5px;
    --headerheight: 5vh;
    --cardRatio: 1/1.64044950946;

    --tiktokicon: url(/images/icons/overexposed/tik-tok-icon.svg);
    --instagramicon: url(/images/icons/overexposed/instagram-icon.svg);
}

/* Customize the scrollbar */
::-webkit-scrollbar {
    width: 12px;
    background-color: transparent
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background-color: var(--primarypagecolour);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondarypagecolour);
}

/* Scrollbar corner */
::-webkit-scrollbar-corner {
    background-color: transparent;
}

.header {
    width: 100%;
    height: var(--headerheight);
    background-color: var(--primarypagecolour);
    color: #202020;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    transition: background-color 0.2s ease;
    z-index: 1000;

}

.logo-container {
    display: flex;
    height: var(--headerheight);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    cursor: pointer;
}

.logo-container a {
    display: inline-block;
    line-height: 0;
}

.header-icon-container {
    display: flex;
    height: var(--headerheight);
    width: calc(var(--headerheight)*1.5);
}

.header-icon-container.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    direction: rtl;
    gap: 15px;
}


.header-icon-container.right {
    align-items: flex-end;
    margin-right: 10px;
    right: 0;
}

.header-icon-container.left {
    align-items: flex-start;
    left: 0;
}

.header .icon-container {
    height: var(--headerheight);
    width: calc(var(--headerheight)*1.5);
}

.header .logo {
    height: calc(calc(var(--headerheight)/4)*3);
    width: auto;
    max-width: 50vw;
}

.icon-container {
    cursor: pointer;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icon-container.disabled {
    display: none;
    cursor: none;
    pointer-events: none;
}

.icon-container img {
    height: 60%;
    width: auto;
}

.icon-container img.small {
    height: 50%;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-image: url('/images/background-tile.png');
    background-size: 384px 414px;
    background-position: top left;
    background-repeat: repeat;
    background-color: var(--secondarybackgroundcolour);
    touch-action: manipulation;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 300px;
    min-width: auto;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 400;
    overflow-y: auto;
}

.overlay.active {
    display: block;
    overflow-y: hidden;
}

.extra-menu-container {
    height: 100vh;
    width: 30vw;
    background-color: var(--backgroundcolour);
    left: -100%;
    position: fixed;
    transition: left 0.7s ease;
    z-index: 900;
}

.extra-menu-container.active {
    left: 0;
}

.extra-menu-title {
    background-color: var(--backgroundcolour);
    font-size: 250%;
    text-align: center;

    color: var(--primarypagecolour);
    padding-top: 10vh;
    padding-bottom: 5vh;
    margin: 0;
}

.extra-menu-button {
    width: 100%;
    height: 15%;
    background-color: var(--backgroundcolour);
    font-size: 200%;

    color: var(--primarypagecolour);
    outline: none;
    border: 0;
    transition: color 0.3s, background-color 0.3s, font-size 0.3s;
}

.extra-menu-button:hover {
    background-color: var(--primarypagecolour);
    color: var(--backgroundcolour);
    font-size: 250%;
}

.social-media-container {
    display: flex;
    position: absolute;
    outline: none;
    border: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    justify-content: left;
}

.social-media-image-container {
    display: flex;
    justify-content: center;
    /* Center the content horizontally */
    align-items: center;
    /* Center the content vertically */
    width: 25%;
}

.social-media-image {
    transition: transform 0.3s;
}

.social-media-image:hover {
    transform: scale(1.25);
}

.social-media-image.tiktok {
    height: 5vh;
    width: 5vh;
    background-image: var(--tiktokicon);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 907;
}

.social-media-image.instagram {
    height: 5vh;
    width: 5vh;
    background-image: var(--instagramicon);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 907;
}

.tts-voice-button.selected {
    border-color: var(--primarypagecolour);
    color: var(--primarypagecolour);
}

.back-button {
    position: fixed;
    top: calc(var(--headerheight) + 5dvh);
    left: 20px;
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: var(--secondarybackgroundcolour);
    border: var(--bordersize) solid var(--secondarybackgroundcolour);
    color: var(--primarypagecolour);
    font-size: 1.5vh;
    padding: 5px 10px;
    border-radius: 50px;
    margin: 0 10px;
    width: 10vh;

    z-index: 300;
    transition: background-color 0.3s, color 0.3s;
}

.back-button:hover {
    background-color: var(--primarypagecolour);
    color: var(--backgroundcolour);
    border-color: var(--primarypagecolour);
}

.back-button.inactive {
    display: none;
}

.overlay-text {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primarypagecolour);
    font-size: 15px;
    text-align: center;
    font-family: Arial, sans-serif;
}

@media (orientation: portrait) {
    .header-icon-container.row {
        display: flex;
        flex-direction: row;
        align-items: center;
        direction: rtl;
        gap: 5px;
    }

    .social-media-container {
        display: flex;
    }

    .extra-menu-container {
        width: 75vw;
        height: 100%;
    }

    .extra-menu-title {
        font-size: 6vw;
    }

    .extra-menu-button {
        font-size: 4vw;
        height: 17.5%;
    }

    .extra-menu-button:hover {
        font-size: 4.5vw;
    }

    .social-media-image-container {
        width: 30%;
    }

    .social-media-image {
        height: auto;
        width: 7.5vw;
    }

    .extra-menu-icon img {
        height: auto;
        width: 60%;
    }

}

.splash-screen-container,
.splash-screen-container-static {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #202020;
    z-index: 9998;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: top 0.5s ease-in-out;
    overflow: hidden;
}

.splash-screen-container img,
.splash-screen-container-static img {
    max-height: 100%;
    width: auto;
    object-fit: contain;
}


.splash-screen-container {
    right: 0;
    z-index: 9999;
}

.splash-screen-container.center {
    top: 0;
}

.splash-screen-container.down {
    top: 100%;
}


@media (orientation: portrait) {
    :root {
        --bordersize: 4px;
        --headerheight: 5vh;
    }

    .splash-screen-container img {
        height: 100%;
    }

    .splash-screen-container.center {
        top: 0;
    }

    .splash-screen-container.down {
        top: 100%;
        transition: all 0.5s ease-in-out;
    }

    .back-button {
        top: calc(var(--headerheight) + 4dvh);
        left: 5px;
    }
}