:root {
    --primarypagecolour: #9D8AFF;
    --secondarypagecolour: #7F71B2;
    --backgroundcolour: #202020;
    --secondarybackgroundcolour: #131313;
    --warningcolour: #FF3333;
    --bordersize: 5px;
    --headerheight: 5vh;
    --cardRatio: 1/1.64044950946;

    --tiktokicon: url(/images/icons/overexposed/tik-tok-icon.svg);
    --instagramicon: url(/images/icons/overexposed/instagram-icon.svg);
}

/* Customize the scrollbar */
::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
    background-color: transparent
        /* Background of the scroll bar */
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background-color: var(--primarypagecolour);
    /* Color of the scrollbar handle */
    border-radius: 10px;
    /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondarypagecolour);
    /* Color when hovering */
}

/* Scrollbar corner */
::-webkit-scrollbar-corner {
    background-color: transparent;
    /* Color of the corner between horizontal and vertical scrollbars */
}

@font-face {
    src: url('/fonts/LemonMilk/LEMONMILK-Medium.otf');
    font-family: LemonMilk;
}

.header {
    width: 100%;
    height: var(--headerheight);
    background-color: var(--primarypagecolour);
    color: #202020;
    display: flex;
    align-items: center;
    font-family: LemonMilk;
    position: fixed;
    transition: background-color 0.2s ease;
    z-index: 1000;

}

.logo-container {
    display: flex;
    /* Use flexbox layout */
    height: var(--headerheight);
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    text-align: center;
    margin: auto;
}

.logo-container a {
    display: inline-block;
    line-height: 0;
}

.header .icon-container {
    height: var(--headerheight);
    width: calc(var(--headerheight)*1.5);
    justify-content: center;
    position: absolute;
    /* Use absolute positioning */
}

.header .icon-container.settings-icon {
    right: 0;
    /* Align it to the far right of the screen */

}

.header .icon-container.extra-menu-icon {
    left: 0;
    /* Align it to the far right of the screen */
}

.header .icon-container.help-icon {
    right: calc(var(--headerheight)*1.5);
    /* Align it to the far right of the screen */
}

.header .logo {
    height: calc(calc(var(--headerheight)/4)*3);
    width: auto;
    max-width: 50vw;
}


.settings-icon,
.extra-menu-icon,
.help-icon {
    cursor: pointer;
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.settings-icon img,
.extra-menu-icon img,
.help-icon img {
    height: auto;
    width: 50%;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-image: url('/images/background-tile.png');
    background-size: 384px 414px;
    background-position: top left;
    background-repeat: repeat;
    background-color: var(--backgroundcolour);
    touch-action: manipulation;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 800;
    overflow-y: auto;
}

.overlay.active {
    display: block;
    overflow-y: hidden;
}

.extra-menu-container {
    height: 100vh;
    width: 30vw;
    background-color: var(--backgroundcolour);
    left: -100%;
    position: fixed;
    transition: left 0.7s ease;
    z-index: 900;
}

.extra-menu-container.active {
    left: 0;
}

.extra-menu-title {
    background-color: var(--backgroundcolour);
    font-size: 250%;
    text-align: center;
    font-family: LemonMilk;
    color: var(--primarypagecolour);
    padding-top: 10vh;
    padding-bottom: 5vh;
    margin: 0;
    /* Add this line */
}

.extra-menu-button {
    width: 100%;
    height: 15%;
    background-color: var(--backgroundcolour);
    font-size: 200%;
    font-family: LemonMilk;
    color: var(--primarypagecolour);
    outline: none;
    border: 0;
    transition: color 0.3s, background-color 0.3s, font-size 0.3s;
}

.extra-menu-button:hover {
    background-color: var(--primarypagecolour);
    color: var(--backgroundcolour);
    font-size: 250%;
}

.overlay {
    min-width: 300px;
    min-width: auto;
}

.settings-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    min-width: 300px;
    height: auto;
    padding: 20px;
    background-color: var(--backgroundcolour);
    border: 6px solid var(--backgroundcolour);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1001;
    text-align: center;
    font-family: LemonMilk;
    border-radius: 40px;
}

.settings-box.active {
    display: block;
}

.settings-box h2,
.settings-box label {
    color: var(--primarypagecolour);
    transition: color 0.2s ease;
}

.settings-option {
    position: relative;
    display: flex;
    align-items: center;
    margin: 1.5vh 0;
    height: 3.5vh;
}

.settings-option label {
    font-size: 20px;
    font-family: LemonMilk;
    margin-right: 10px;
}

.toggle-switch {
    position: absolute;
    right: 10px;
    width: 6vh;
    height: 3.5vh;
    margin-right: 10px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #545454;
    transition: background-color 0.2s ease;
    border-radius: 3vh;
}

.slider:before {
    position: absolute;
    content: "";
    height: 2.5vh;
    width: 2.5vh;
    left: 0.25vh;
    bottom: 0.25vh;
    background-color: white;
    transition: transform 0.2s ease;
    border-radius: 50%;
}

.settings-box #settings-title {
    font-size: 30px;
}

.settings-box .settings-content {
    height: auto;
}

input:checked+.slider {
    background-color: var(--primarypagecolour);
}

input:checked+.slider:before {
    transform: translateX(2.5vh);
}

.social-media-container {
    display: flex;
    position: absolute;
    outline: none;
    border: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    justify-content: left;
}

.social-media-image-container {
    display: flex;
    justify-content: center;
    /* Center the content horizontally */
    align-items: center;
    /* Center the content vertically */
    width: 25%;
}
.social-media-image{
    transition: transform 0.3s;
}
.social-media-image:hover{
    transform: scale(1.25);
}
.social-media-image.tiktok {
    height: 5vh;
    width: 5vh;
    background-image: var(--tiktokicon);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 907;
}

.social-media-image.instagram {
    height: 5vh;
    width: 5vh;
    background-image: var(--instagramicon);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 907;
}

.tts-voice-button.selected {
    border-color: var(--primarypagecolour);
    color: var(--primarypagecolour);
}

.back-button {
    position: fixed;
    top: calc(var(--headerheight) + 5vh);
    left: 20px;
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: var(--backgroundcolour);
    border: var(--bordersize) solid var(--backgroundcolour);
    color: var(--primarypagecolour);
    font-size: 1.5vh;
    padding: 5px 10px;
    border-radius: 50px;
    margin: 0 10px;
    width: 10vh;
    font-family: LemonMilk;
    z-index: 600;
    transition: background-color 0.3s, color 0.3s;
}

.back-button:hover {
    background-color: var(--primarypagecolour);
    color: var(--backgroundcolour);
    border-color: var(--primarypagecolour);
}

/* Help Container */
.help-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55vh;
    height: auto;
    padding: 2%;
    background-color: var(--backgroundcolour);
    border: var(--bordersize) solid var(--backgroundcolour);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    text-align: center;
    font-family: LemonMilk;
    border-radius: 25px;
    max-width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

.help-container.active {
    display: block;
}

.help-title {
    color: var(--primarypagecolour);
    font-size: 200%;
    margin: 2.5% 0%;
}

.help-text {
    color: var(--primarypagecolour);
    font-size: 100%;
    margin: 5% 0;
}

.help-text highlight {
    color: var(--backgroundcolour);
    background-color: var(--primarypagecolour);
    padding: 0 2.5% 0 2.5%;
    border-radius: 25px;
}

.help-text highlight.NSFW {
    color: var(--backgroundcolour);
    background-color: var(--warningcolour);
}

.overlay-text {
    position: absolute;
    bottom: -1.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primarypagecolour);
    font-size: 15px;
    text-align: center;
    font-family: Arial, sans-serif;
}

@media (orientation: portrait) {
    .help-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 55vh;
        height: auto;
        padding: 2%;
        border-radius: 25px;
        max-width: 80vw;
    }

    .help-text {
        font-size: 80%;
        margin: 5% 0;
    }

    .social-media-container {
        display: flex;
        /* Use flexbox for layout */
    }

    .extra-menu-container {
        width: 75vw;
        height: 100%;
    }

    .extra-menu-title {
        font-size: 6vw;
    }

    .extra-menu-button {
        font-size: 4vw;
        height: 17.5%;
    }

    .extra-menu-button:hover {
        font-size: 4.5vw;
    }

    .social-media-image-container {
        width: 30%;
    }

    .social-media-image {
        height: auto;
        width: 7.5vw;
    }

    .header .icon-container {
        width: calc(var(--headerheight));
    }

    .settings-icon img,
    .extra-menu-icon img,
    .help-icon img {
        height: auto;
        width: 60%;
    }

    .header .icon-container.help-icon {
        right: calc(calc(var(--headerheight)/4)*3);
        /* Align it to the far right of the screen */
    }

    /* Settings */
    .settings-box {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        border: var(--bordersize) solid var(--backgroundcolour);
        display: none;
        z-index: 1005;
        text-align: center;
        font-family: LemonMilk;
        border-radius: 40px;
        min-width: 200px;

    }

    .settings-box #settings-title {
        font-size: 20px;
    }

    .settings-option {
        position: relative;
        display: flex;
        align-items: center;
        margin: 1.5vh 0;
        height: 3.5vh;
    }

    .settings-option label {
        font-size: 20px;
        font-family: LemonMilk;
        margin-right: 10px;
    }
}

.splash-screen-container,
.splash-screen-container-static {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #202020;
    z-index: 9998;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: top 0.5s ease-in-out;
    overflow: hidden;
}

.splash-screen-container img,
.splash-screen-container-static img {
    max-height: 100%;
    width: auto;
    object-fit: contain;
}


.splash-screen-container {
    right: 0;
    z-index: 9999;
}

.splash-screen-container.center {
    top: 0;
}

.splash-screen-container.down {
    top: 100%;
}


@media (orientation: portrait) {
    .splash-screen-container img {
        height: 100%;
    }

    .splash-screen-container.center {
        top: 0;
    }

    .splash-screen-container.down {
        top: 100%;
        transition: all 0.5s ease-in-out;
    }

    :root {
        --bordersize: 4px;
        --headerheight: 5vh;
    }

    .back-button {
        top: calc(var(--headerheight) + 20px);
        left: 5px;
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    .header,
    .back-button {
        display: none;
    }

    .overlay,
    .settings-box,
    .help-container,
    .extra-menu-container,
    .help-container{
        display: none !important;
    }
}