.help-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55vh;
    padding: 20px;
    background-color: var(--backgroundcolour);
    border: var(--bordersize) solid var(--backgroundcolour);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    z-index: 1001;

    border-radius: 25px;
    min-width: 260px;
    max-height: calc(100dvh - var(--headerheight) - 40px);
    min-height: none;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.help-container.active {
    display: flex;
    min-height: 200px;
}

.help-content {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.help-arrow {
    font-size: 24px;
    color: var(--primarypagecolour);
    cursor: pointer;
    padding: 0 1rem;
    user-select: none;
}

.help-arrow.disabled {
    display: none;
}

.help-arrow:hover {
    color: var(--secondarypagecolour);
    /* Optional: hover effect */
}

.left-arrow {
    margin-right: 5px;
}

.right-arrow {
    margin-left: 5px;
}

.help-title {
    color: var(--primarypagecolour);
    font-size: 24px;
    margin: 2.5% 0%;
}

.help-text {
    color: var(--primarypagecolour);
    font-size: 100%;
    width: 100%;
    margin: 5% 0;

    max-height: calc(80dvh - var(--headerheight) - 80px);
    overflow-y: auto;
    /* enables vertical scrolling */
    overflow-x: hidden;
}

.help-title img,
.help-text img {
    display: inline-block;
    vertical-align: middle;
    object-fit: contain;
}

.help-title img {
    width: 40px;
    height: 40px;
    margin: 0 0.2em;
}

.help-text img:not(.tutorial-image) {
    width: 20px;
    height: 20px;
    margin: 0 0.2em;
}


.help-text img.tutorial-image {
    width: 100%;
    height:100%;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
}

/* FIRST image sets the height */
.help-text img.tutorial-image:first-child {
    position: relative;
}


.help-number-counter {
    color: var(--primarypagecolour);
    font-size: 100%;
    margin: 5% 0;
}

.help-animate {
    transition: transform 180ms ease;
    transform-origin: top;
}

.help-text highlight,
.help-title highlight {
    color: var(--backgroundcolour);
    background-color: var(--primarypagecolour);
    padding: 0 2.5% 0 2.5%;
    border-radius: 25px;
}

.help-text highlight.NSFW,
.help-title highlight.NSFW {
    color: var(--backgroundcolour);
    background-color: var(--warningcolour);
}

.help-index-btn {
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #333;
    color: var(--primarypagecolour);
    font-size: 12px;
    cursor: pointer;
    transition: 0.2s;
}

.help-index-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 14px;
    width: 100%;
}

.help-index-button {
    position: absolute;
    top: 10px;
    left: 10px;

    color: #202020;
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
    z-index: 999;
    /* make sure it's above everything */
}

.help-index-icon {
    width: 32px;
    height: 32px;
    fill: var(--primarypagecolour);
}


@media (orientation: portrait) {
    .help-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 55vh;
        height: auto;
        border-radius: 25px;
        max-width: 80vw;
    }

    .help-text {
        font-size: 80%;
        margin: 5% 0;
    }

    .help-icon img {
        height: auto;
        width: 60%;
    }

    .header .icon-container.help-icon {
        right: calc(calc(var(--headerheight)/4)*3);
        /* Align it to the far right of the screen */
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    .help-container {
        display: none !important;
    }
}