.help-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55vh;
    padding: 20px;
    background-color: var(--backgroundcolour);
    border: var(--bordersize) solid var(--backgroundcolour);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    
    border-radius: 25px;
    min-width: 260px;
    min-height: 200px;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.help-container.active {
    display: flex;
}

.help-content {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.help-arrow {
    font-size: 24px;
    color: var(--primarypagecolour);
    cursor: pointer;
    padding: 0 1rem;
    user-select: none;
}
.help-arrow.disabled {
    display:none;
}

.help-arrow:hover {
    color: var(--secondarypagecolour); /* Optional: hover effect */
}

.left-arrow {
    margin-right: 5px;
}

.right-arrow {
    margin-left: 5px;
}

.help-title {
    color: var(--primarypagecolour);
    font-size: 24px;
    margin: 2.5% 0%;
}

.help-text {
    color: var(--primarypagecolour);
    font-size: 100%;
    margin: 5% 0;
}

.help-number-counter {
    color: var(--primarypagecolour);
    font-size: 100%;
    margin: 5% 0;
}

.help-text highlight,
.help-title highlight {
    color: var(--backgroundcolour);
    background-color: var(--primarypagecolour);
    padding: 0 2.5% 0 2.5%;
    border-radius: 25px;
}

.help-text highlight.NSFW,
.help-title highlight.NSFW {
    color: var(--backgroundcolour);
    background-color: var(--warningcolour);
}

@media (orientation: portrait) {
    .help-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 55vh;
        height: auto;
        border-radius: 25px;
        max-width: 80vw;
    }

    .help-text {
        font-size: 80%;
        margin: 5% 0;
    }

    .help-icon img {
        height: auto;
        width: 60%;
    }

    .header .icon-container.help-icon {
        right: calc(calc(var(--headerheight)/4)*3);
        /* Align it to the far right of the screen */
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    .help-container{
        display: none !important;
    }
}