:root {
    --rotatedeviceicon: url(/images/icons/overexposed/rotate-phone-icon.svg);
}

.landscape-message {
    position: fixed;
    left: 0;
    top:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    z-index: 1000;
    font-family: LemonMilk;
    display: none;
    color:var(--primarypagecolour);
        background-image: url('/images/background-tile.png');
    background-size: 384px 414px;
    background-position: top left;
    background-repeat: repeat;
    background-color: var(--secondarybackgroundcolour);
}

.rotate-icon {
    margin-top: 10vh;
    width: 30vh;
    height: 30vh; /* Ensure height is defined */
    animation: rotate-and-disappear 3s infinite;
    
    background-image: var(--rotatedeviceicon);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes rotate-and-disappear {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    25% {
        transform: rotate(90deg);
        opacity: 1;
    }

    95% {
        transform: rotate(90deg);
        opacity: 0;
    }

    97.5% {
        transform: rotate(0deg);
        opacity: 0;
    }

    100% {
        transform: rotate(0deg);
        opacity: 1;
    }
}


@media (max-width: 900px) and (orientation: landscape) {
    .landscape-message {
        display: flex;
    }
}
