
.main-container {
    position: fixed;
    width: 100vw;
    top: var(--headerheight);
    height: calc(var(--vh, 1vh) * 100 - var(--headerheight));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.waiting-container {
    position: fixed;
    height: auto;
    padding: 2%;
    background-color: #101010;
    border: var(--bordersize) solid #101010;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    z-index: 800;
    text-align: center;
    
    border: var(--bordersize) solid var(--primarypagecolour);
    border-radius: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primarypagecolour);
    display: none;

    width:90vw;
    max-width: 500px;
    min-width: 300px;
}

.waiting-container.active {
    display: flex;
}
.waiting-container.overlay-container {
    top:50vh;
    left:50vw;
    transform: translate(-50%, -50%);
    position: fixed;
}

.waiting-container h2 {
    font-size: 20px;
}

.waiting-container p {
    font-size: 20px;
}

.waiting-container button {
    background-color: #101010;
    color: var(--primarypagecolour);
    border: 4px solid var(--primarypagecolour);
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 100%;
    transition: background-color 0.3s ease;
    text-decoration: none;
    
    width: 25%;
}

.waiting-container button:hover {
    background-color: var(--primarypagecolour);
    color: #202020;
    border-color: var(--primarypagecolour);
}

.waiting-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 100%;
}
.waiting-button-container button.disabled {
    background-color: #333333 !important;
    color: #666666 !important;
    border-color: #333333 !important;
    cursor: not-allowed !important;
    pointer-events: none !important;
}

.waiting-container .input-container {
    position: relative; /* Needed for absolute positioning of input-count */
    width: 60%; /* Adjusted to match the input */
    height: 30px;
    margin-bottom: 2vh;
}

.waiting-container .input-container input {
    width: 100%;
    height: 100%;
    
    color: var(--primarypagecolour);
    background-color: var(--backgroundcolour);
    outline: none;
    border: none;
    box-shadow: none;
    text-align: center;
    padding-right: 5px; /* Space for the count */
}

.waiting-container .input-count {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    
    color: var(--primarypagecolour);
    pointer-events: none;
}

.waiting-room-container {
    width: auto;
    height: 70vh;
    position: fixed;
    display: none;
}
.waiting-room-container.active {
    display: inline-block;
}

.ready-up-button {
    display: flex;
    justify-content: center;
    
    font-size: 16px;
    padding: 10px 20px;
    width: 60vw;
    max-width: 300px;
    margin: 1.5vh auto 0;
    background-color: var(--backgroundcolour);
    border: var(--bordersize) solid var(--backgroundcolour);
    border-radius: 50px;
    color: var(--primarypagecolour);
    text-align: center;
    white-space: nowrap;
    box-sizing: border-box;
    text-decoration: none;
}

.ready-up-button:hover {
    background-color: var(--primarypagecolour);
    color: var(--secondarybackgroundcolour);
    border-color: var(--primarypagecolour);
}

.ready-up-button.active {
    background-color: var(--primarypagecolour);
    color: var(--backgroundcolour);
    border-color: var(--primarypagecolour);
}

@media (orientation: portrait) {
    .waiting-container button {
        padding: 5px 10px;
        font-size: 70%;
        width: 50%;
    }
}